## Fixed Data:

In [2]:
pip install fredapi

Collecting fredapi
  Downloading fredapi-0.5.0-py3-none-any.whl (11 kB)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)
Installing collected packages: fredapi
Successfully installed fredapi-0.5.0

In [3]:
import json
import requests
import pandas as pd
from fredapi import Fred

API_KEY = '1vGb0FOsg2hEIGrEhpueLCcWd1Y'
FRED_API_KEY = 'b13a905b98b5dfc1f3910d6a0d875ae3'

rootUrl = 'https://api.glassnode.com'

symbolList = ['BTC', 'ETH', 'LTC', 'AAVE', 'ABT', 'AMPL', 'ANT', 'ARMOR', 'BADGER', 'BAL', 'BAND', 'BAT', 'BIX', 'BNT', 'BOND', 'BRD', 'BUSD', 'BZRX', 'CELR', 'CHSB', 'CND', 'COMP', 'CREAM', 'CRO', 'CRV', 'CVC', 'CVP', 'DAI', 'DDX', 'DENT', 'DGX', 'DHT', 'DMG', 'DODO', 'DOUGH', 'DRGN', 'ELF', 'ENG', 'ENJ', 'EURS', 'FET', 'FTT', 'FUN', 'GNO', 'GUSD', 'HEGIC', 'HOT', 'HPT', 'HT', 'HUSD', 'INDEX', 'KCS', 'LAMB', 'LBA', 'LDO', 'LEO', 'LINK', 'LOOM', 'LRC', 'MANA', 'MATIC',
              'MCB', 'MCO', 'MFT', 'MIR', 'MKR', 'MLN', 'MTA', 'MTL', 'MX', 'NDX', 'NEXO', 'NFTX', 'NMR', 'Nsure', 'OCEAN', 'OKB', 'OMG', 'PAY', 'PERP', 'PICKLE', 'PNK', 'PNT', 'POLY', 'POWR', 'PPT', 'QASH', 'QKC', 'QNT', 'RDN', 'REN', 'REP', 'RLC', 'ROOK', 'RPL', 'RSR', 'SAI', 'SAN', 'SNT', 'SNX', 'STAKE', 'STORJ', 'sUSD', 'SUSHI', 'TEL', 'TOP', 'UBT', 'UMA', 'UNI', 'USDC', 'USDK', 'USDP', 'USDT', 'UTK', 'VERI', 'WaBi', 'WAX', 'WBTC', 'WETH', 'wNXM', 'WTC', 'YAM', 'YFI', 'ZRX']

symbolListShort = ['BTC', 'ETH', 'LTC']

endPoints = {
    'Price': '/v1/metrics/market/price_usd_close',
    'MarketCap': '/v1/metrics/market/marketcap_usd',
    'TransactionCount': '/v1/metrics/transactions/count',
    'ActiveAddress': '/v1/metrics/addresses/active_count',
}

## <font color='red'> It seems the risk-free rate is daily rate. is it in percentage or in unit 1? need to adjust to weekly rate and select Monday

In [13]:
fred = Fred(api_key=FRED_API_KEY)
Risk_free_rate = fred.get_series('DGS1MO')
Risk_free_rate = Risk_free_rate.to_frame()
Risk_free_rate = Risk_free_rate.reset_index()
Risk_free_rate = Risk_free_rate.rename(columns={'index':'Date', 0:'RiskFree'})

## Get Multiple Attributes for Multiple Coins:

In [12]:
### Define a function to pull data according to input values(coin, feature)
### After running this method, it should return pulled data, and also store it in memory named as "coin_feature"

def PullData(coin, feature):
    print(f"Pulling {coin}'s {feature} data")

    # Assemble full request url and get responses:
    reqUrl = rootUrl + endPoints[feature]
    res = requests.get(reqUrl,
                       params={'a': coin, 'api_key': API_KEY, 'i':'1w'})
    data_raw = pd.read_json(res.text, convert_dates=['t'])

    # Rename column "v" according to features
    data = data_raw.rename(columns={"v" : f"{feature}", 't':'Date'})

    # Turn renamed dataframe into a global variable for future using
    name = f"{coin}_{feature}"
    globals()[name] = data

    # Return a dataframe
    return data

In [65]:
### Get all features(listed in endPoints) of all coins(listed in coinList) 
def PullStart(coinList):

    from functools import reduce

    for i in coinList:
        print(f"Start Pulling {i}'s data:")

        # Preparation for merging
        frameName = f"{i}_Frames"
        locals()[frameName] = []

        # Get data
        for j in list(endPoints.keys()):
            locals()[frameName].append(PullData(i, j))

        # Merge to single dataframe
        print('Merging Dataframes...')
        dfName = f"{i}_All"
        # Outer merge to ensure not missing any values.
        locals()[dfName] = reduce(lambda  left,right: pd.merge(left,right, on='Date', how='outer'), locals()[frameName]) 
        
        # Left merege Fred to ensure all the records in api stored.
        locals()[dfName] = locals()[dfName].merge(Risk_free_rate,how = 'left').sort_values(by=['Date'])

        ## Imputation for NA values -- to be resolved
        #
        #
        ##Imputation for NA values -- to be resolved

        # Add Return Column(52 records for testing)
        temp = locals()[dfName][-53:-1].reset_index()
    
        locals()[dfName] = locals()[dfName][-52:].reset_index().drop('index', axis=1)

        locals()[dfName]['Return'] = (locals()[dfName]['Price'] - temp['Price'])/temp['Price']

        locals()[dfName]['Asset'] = i

        globals()[dfName] = locals()[dfName]

        print(f"{i} data successfully pulled\n")
    print('\nALL DATA SUCCESSFULLY PULLED!')

## <font color='red'> Imputation for NA values -- to be resolved

## MOM Factor

### Get LargeCap Sample(maket cap > 10000)

In [93]:
# Check if a coin is Large and get LargeCoin list
largeList = []
for i in symbolList:
    if PullData(i, 'MarketCap').iloc[-1,1] > 1000000:
        largeList.append(i)

Pulling BTC's MarketCap data
Pulling ETH's MarketCap data
Pulling LTC's MarketCap data
Pulling AAVE's MarketCap data
Pulling ABT's MarketCap data
Pulling AMPL's MarketCap data
Pulling ANT's MarketCap data
Pulling ARMOR's MarketCap data
Pulling BADGER's MarketCap data
Pulling BAL's MarketCap data
Pulling BAND's MarketCap data
Pulling BAT's MarketCap data
Pulling BIX's MarketCap data
Pulling BNT's MarketCap data
Pulling BOND's MarketCap data
Pulling BRD's MarketCap data
Pulling BUSD's MarketCap data
Pulling BZRX's MarketCap data
Pulling CELR's MarketCap data
Pulling CHSB's MarketCap data
Pulling CND's MarketCap data
Pulling COMP's MarketCap data
Pulling CREAM's MarketCap data
Pulling CRO's MarketCap data
Pulling CRV's MarketCap data
Pulling CVC's MarketCap data
Pulling CVP's MarketCap data
Pulling DAI's MarketCap data
Pulling DDX's MarketCap data
Pulling DENT's MarketCap data
Pulling DGX's MarketCap data
Pulling DHT's MarketCap data
Pulling DMG's MarketCap data
Pulling DODO's MarketCap data
Pulling DOUGH's MarketCap data
Pulling DRGN's MarketCap data
Pulling ELF's MarketCap data
Pulling ENG's MarketCap data
Pulling ENJ's MarketCap data
Pulling EURS's MarketCap data
Pulling FET's MarketCap data
Pulling FTT's MarketCap data
Pulling FUN's MarketCap data
Pulling GNO's MarketCap data
Pulling GUSD's MarketCap data
Pulling HEGIC's MarketCap data
Pulling HOT's MarketCap data
Pulling HPT's MarketCap data
Pulling HT's MarketCap data
Pulling HUSD's MarketCap data
Pulling INDEX's MarketCap data
Pulling KCS's MarketCap data
Pulling LAMB's MarketCap data
Pulling LBA's MarketCap data
Pulling LDO's MarketCap data
Pulling LEO's MarketCap data
Pulling LINK's MarketCap data
Pulling LOOM's MarketCap data
Pulling LRC's MarketCap data
Pulling MANA's MarketCap data
Pulling MATIC's MarketCap data
Pulling MCB's MarketCap data
Pulling MCO's MarketCap data
Pulling MFT's MarketCap data
Pulling MIR's MarketCap data
Pulling MKR's MarketCap data
Pulling MLN's MarketCap data
Pulling MTA's MarketCap data
Pulling MTL's MarketCap data
Pulling MX's MarketCap data
Pulling NDX's MarketCap data
Pulling NEXO's MarketCap data
Pulling NFTX's MarketCap data
Pulling NMR's MarketCap data
Pulling Nsure's MarketCap data
Pulling OCEAN's MarketCap data
Pulling OKB's MarketCap data
Pulling OMG's MarketCap data
Pulling PAY's MarketCap data
Pulling PERP's MarketCap data
Pulling PICKLE's MarketCap data
Pulling PNK's MarketCap data
Pulling PNT's MarketCap data
Pulling POLY's MarketCap data
Pulling POWR's MarketCap data
Pulling PPT's MarketCap data
Pulling QASH's MarketCap data
Pulling QKC's MarketCap data
Pulling QNT's MarketCap data
Pulling RDN's MarketCap data
Pulling REN's MarketCap data
Pulling REP's MarketCap data
Pulling RLC's MarketCap data
Pulling ROOK's MarketCap data
Pulling RPL's MarketCap data
Pulling RSR's MarketCap data
Pulling SAI's MarketCap data
Pulling SAN's MarketCap data
Pulling SNT's MarketCap data
Pulling SNX's MarketCap data
Pulling STAKE's MarketCap data
Pulling STORJ's MarketCap data
Pulling sUSD's MarketCap data
Pulling SUSHI's MarketCap data
Pulling TEL's MarketCap data
Pulling TOP's MarketCap data
Pulling UBT's MarketCap data
Pulling UMA's MarketCap data
Pulling UNI's MarketCap data
Pulling USDC's MarketCap data
Pulling USDK's MarketCap data
Pulling USDP's MarketCap data
Pulling USDT's MarketCap data
Pulling UTK's MarketCap data
Pulling VERI's MarketCap data
Pulling WaBi's MarketCap data
Pulling WAX's MarketCap data
Pulling WBTC's MarketCap data
Pulling WETH's MarketCap data
Pulling wNXM's MarketCap data
Pulling WTC's MarketCap data
Pulling YAM's MarketCap data
Pulling YFI's MarketCap data
Pulling ZRX's MarketCap data

In [94]:
PullStart(largeList)

Start Pulling BTC's data:
Pulling BTC's Price data
Pulling BTC's MarketCap data
Pulling BTC's TransactionCount data
Pulling BTC's ActiveAddress data
Merging Dataframes...
BTC data successfully pulled

Start Pulling ETH's data:
Pulling ETH's Price data
Pulling ETH's MarketCap data
Pulling ETH's TransactionCount data
Pulling ETH's ActiveAddress data
Merging Dataframes...
ETH data successfully pulled

Start Pulling LTC's data:
Pulling LTC's Price data
Pulling LTC's MarketCap data
Pulling LTC's TransactionCount data
Pulling LTC's ActiveAddress data
Merging Dataframes...
LTC data successfully pulled

Start Pulling AAVE's data:
Pulling AAVE's Price data
Pulling AAVE's MarketCap data
Pulling AAVE's TransactionCount data
Pulling AAVE's ActiveAddress data
Merging Dataframes...
AAVE data successfully pulled

Start Pulling ABT's data:
Pulling ABT's Price data
Pulling ABT's MarketCap data
Pulling ABT's TransactionCount data
Pulling ABT's ActiveAddress data
Merging Dataframes...
ABT data successfully pulled

Start Pulling AMPL's data:
Pulling AMPL's Price data
Pulling AMPL's MarketCap data
Pulling AMPL's TransactionCount data
Pulling AMPL's ActiveAddress data
Merging Dataframes...
AMPL data successfully pulled

Start Pulling ANT's data:
Pulling ANT's Price data
Pulling ANT's MarketCap data
Pulling ANT's TransactionCount data
Pulling ANT's ActiveAddress data
Merging Dataframes...
ANT data successfully pulled

Start Pulling ARMOR's data:
Pulling ARMOR's Price data
Pulling ARMOR's MarketCap data
Pulling ARMOR's TransactionCount data
Pulling ARMOR's ActiveAddress data
Merging Dataframes...
ARMOR data successfully pulled

Start Pulling BADGER's data:
Pulling BADGER's Price data
Pulling BADGER's MarketCap data
Pulling BADGER's TransactionCount data
Pulling BADGER's ActiveAddress data
Merging Dataframes...
BADGER data successfully pulled

Start Pulling BAL's data:
Pulling BAL's Price data
Pulling BAL's MarketCap data
Pulling BAL's TransactionCount data
Pulling BAL's ActiveAddress data
Merging Dataframes...
BAL data successfully pulled

Start Pulling BAND's data:
Pulling BAND's Price data
Pulling BAND's MarketCap data
Pulling BAND's TransactionCount data
Pulling BAND's ActiveAddress data
Merging Dataframes...
BAND data successfully pulled

Start Pulling BAT's data:
Pulling BAT's Price data
Pulling BAT's MarketCap data
Pulling BAT's TransactionCount data
Pulling BAT's ActiveAddress data
Merging Dataframes...
BAT data successfully pulled

Start Pulling BIX's data:
Pulling BIX's Price data
Pulling BIX's MarketCap data
Pulling BIX's TransactionCount data
Pulling BIX's ActiveAddress data
Merging Dataframes...
BIX data successfully pulled

Start Pulling BNT's data:
Pulling BNT's Price data
Pulling BNT's MarketCap data
Pulling BNT's TransactionCount data
Pulling BNT's ActiveAddress data
Merging Dataframes...
BNT data successfully pulled

Start Pulling BOND's data:
Pulling BOND's Price data
Pulling BOND's MarketCap data
Pulling BOND's TransactionCount data
Pulling BOND's ActiveAddress data
Merging Dataframes...
BOND data successfully pulled

Start Pulling BRD's data:
Pulling BRD's Price data
Pulling BRD's MarketCap data
Pulling BRD's TransactionCount data
Pulling BRD's ActiveAddress data
Merging Dataframes...
BRD data successfully pulled

Start Pulling BUSD's data:
Pulling BUSD's Price data
Pulling BUSD's MarketCap data
Pulling BUSD's TransactionCount data
Pulling BUSD's ActiveAddress data
Merging Dataframes...
BUSD data successfully pulled

Start Pulling BZRX's data:
Pulling BZRX's Price data
Pulling BZRX's MarketCap data
Pulling BZRX's TransactionCount data
Pulling BZRX's ActiveAddress data
Merging Dataframes...
BZRX data successfully pulled

Start Pulling CELR's data:
Pulling CELR's Price data
Pulling CELR's MarketCap data
Pulling CELR's TransactionCount data
Pulling CELR's ActiveAddress data
Merging Dataframes...
CELR data successfully pulled

Start Pulling CHSB's data:
Pulling CHSB's Price data
Pulling CHSB's MarketCap data
Pulling CHSB's TransactionCount data
Pulling CHSB's ActiveAddress data
Merging Dataframes...
CHSB data successfully pulled

Start Pulling CND's data:
Pulling CND's Price data
Pulling CND's MarketCap data
Pulling CND's TransactionCount data
Pulling CND's ActiveAddress data
Merging Dataframes...
CND data successfully pulled

Start Pulling COMP's data:
Pulling COMP's Price data
Pulling COMP's MarketCap data
Pulling COMP's TransactionCount data
Pulling COMP's ActiveAddress data
Merging Dataframes...
COMP data successfully pulled

Start Pulling CREAM's data:
Pulling CREAM's Price data
Pulling CREAM's MarketCap data
Pulling CREAM's TransactionCount data
Pulling CREAM's ActiveAddress data
Merging Dataframes...
CREAM data successfully pulled

Start Pulling CRO's data:
Pulling CRO's Price data
Pulling CRO's MarketCap data
Pulling CRO's TransactionCount data
Pulling CRO's ActiveAddress data
Merging Dataframes...
CRO data successfully pulled

Start Pulling CRV's data:
Pulling CRV's Price data
Pulling CRV's MarketCap data
Pulling CRV's TransactionCount data
Pulling CRV's ActiveAddress data
Merging Dataframes...
CRV data successfully pulled

Start Pulling CVC's data:
Pulling CVC's Price data
Pulling CVC's MarketCap data
Pulling CVC's TransactionCount data
Pulling CVC's ActiveAddress data
Merging Dataframes...
CVC data successfully pulled

Start Pulling CVP's data:
Pulling CVP's Price data
Pulling CVP's MarketCap data
Pulling CVP's TransactionCount data
Pulling CVP's ActiveAddress data
Merging Dataframes...
CVP data successfully pulled

Start Pulling DAI's data:
Pulling DAI's Price data
Pulling DAI's MarketCap data
Pulling DAI's TransactionCount data
Pulling DAI's ActiveAddress data
Merging Dataframes...
DAI data successfully pulled

Start Pulling DDX's data:
Pulling DDX's Price data
Pulling DDX's MarketCap data
Pulling DDX's TransactionCount data
Pulling DDX's ActiveAddress data
Merging Dataframes...
DDX data successfully pulled

Start Pulling DENT's data:
Pulling DENT's Price data
Pulling DENT's MarketCap data
Pulling DENT's TransactionCount data
Pulling DENT's ActiveAddress data
Merging Dataframes...
DENT data successfully pulled

Start Pulling DGX's data:
Pulling DGX's Price data
Pulling DGX's MarketCap data
Pulling DGX's TransactionCount data
Pulling DGX's ActiveAddress data
Merging Dataframes...
DGX data successfully pulled

Start Pulling DHT's data:
Pulling DHT's Price data
Pulling DHT's MarketCap data
Pulling DHT's TransactionCount data
Pulling DHT's ActiveAddress data
Merging Dataframes...
DHT data successfully pulled

Start Pulling DMG's data:
Pulling DMG's Price data
Pulling DMG's MarketCap data
Pulling DMG's TransactionCount data
Pulling DMG's ActiveAddress data
Merging Dataframes...
DMG data successfully pulled

Start Pulling DODO's data:
Pulling DODO's Price data
Pulling DODO's MarketCap data
Pulling DODO's TransactionCount data
Pulling DODO's ActiveAddress data
Merging Dataframes...
DODO data successfully pulled

Start Pulling DOUGH's data:
Pulling DOUGH's Price data
Pulling DOUGH's MarketCap data
Pulling DOUGH's TransactionCount data
Pulling DOUGH's ActiveAddress data
Merging Dataframes...
DOUGH data successfully pulled

Start Pulling DRGN's data:
Pulling DRGN's Price data
Pulling DRGN's MarketCap data
Pulling DRGN's TransactionCount data
Pulling DRGN's ActiveAddress data
Merging Dataframes...
DRGN data successfully pulled

Start Pulling ELF's data:
Pulling ELF's Price data
Pulling ELF's MarketCap data
Pulling ELF's TransactionCount data
Pulling ELF's ActiveAddress data
Merging Dataframes...
ELF data successfully pulled

Start Pulling ENJ's data:
Pulling ENJ's Price data
Pulling ENJ's MarketCap data
Pulling ENJ's TransactionCount data
Pulling ENJ's ActiveAddress data
Merging Dataframes...
ENJ data successfully pulled

Start Pulling EURS's data:
Pulling EURS's Price data
Pulling EURS's MarketCap data
Pulling EURS's TransactionCount data
Pulling EURS's ActiveAddress data
Merging Dataframes...
EURS data successfully pulled

Start Pulling FET's data:
Pulling FET's Price data
Pulling FET's MarketCap data
Pulling FET's TransactionCount data
Pulling FET's ActiveAddress data
Merging Dataframes...
FET data successfully pulled

Start Pulling FTT's data:
Pulling FTT's Price data
Pulling FTT's MarketCap data
Pulling FTT's TransactionCount data
Pulling FTT's ActiveAddress data
Merging Dataframes...
FTT data successfully pulled

Start Pulling FUN's data:
Pulling FUN's Price data
Pulling FUN's MarketCap data
Pulling FUN's TransactionCount data
Pulling FUN's ActiveAddress data
Merging Dataframes...
FUN data successfully pulled

Start Pulling GNO's data:
Pulling GNO's Price data
Pulling GNO's MarketCap data
Pulling GNO's TransactionCount data
Pulling GNO's ActiveAddress data
Merging Dataframes...
GNO data successfully pulled

Start Pulling GUSD's data:
Pulling GUSD's Price data
Pulling GUSD's MarketCap data
Pulling GUSD's TransactionCount data
Pulling GUSD's ActiveAddress data
Merging Dataframes...
GUSD data successfully pulled

Start Pulling HEGIC's data:
Pulling HEGIC's Price data
Pulling HEGIC's MarketCap data
Pulling HEGIC's TransactionCount data
Pulling HEGIC's ActiveAddress data
Merging Dataframes...
HEGIC data successfully pulled

Start Pulling HOT's data:
Pulling HOT's Price data
Pulling HOT's MarketCap data
Pulling HOT's TransactionCount data
Pulling HOT's ActiveAddress data
Merging Dataframes...
HOT data successfully pulled

Start Pulling HPT's data:
Pulling HPT's Price data
Pulling HPT's MarketCap data
Pulling HPT's TransactionCount data
Pulling HPT's ActiveAddress data
Merging Dataframes...
HPT data successfully pulled

Start Pulling HT's data:
Pulling HT's Price data
Pulling HT's MarketCap data
Pulling HT's TransactionCount data
Pulling HT's ActiveAddress data
Merging Dataframes...
HT data successfully pulled

Start Pulling HUSD's data:
Pulling HUSD's Price data
Pulling HUSD's MarketCap data
Pulling HUSD's TransactionCount data
Pulling HUSD's ActiveAddress data
Merging Dataframes...
HUSD data successfully pulled

Start Pulling KCS's data:
Pulling KCS's Price data
Pulling KCS's MarketCap data
Pulling KCS's TransactionCount data
Pulling KCS's ActiveAddress data
Merging Dataframes...
KCS data successfully pulled

Start Pulling LAMB's data:
Pulling LAMB's Price data
Pulling LAMB's MarketCap data
Pulling LAMB's TransactionCount data
Pulling LAMB's ActiveAddress data
Merging Dataframes...
LAMB data successfully pulled

Start Pulling LBA's data:
Pulling LBA's Price data
Pulling LBA's MarketCap data
Pulling LBA's TransactionCount data
Pulling LBA's ActiveAddress data
Merging Dataframes...
LBA data successfully pulled

Start Pulling LDO's data:
Pulling LDO's Price data
Pulling LDO's MarketCap data
Pulling LDO's TransactionCount data
Pulling LDO's ActiveAddress data
Merging Dataframes...
LDO data successfully pulled

Start Pulling LEO's data:
Pulling LEO's Price data
Pulling LEO's MarketCap data
Pulling LEO's TransactionCount data
Pulling LEO's ActiveAddress data
Merging Dataframes...
LEO data successfully pulled

Start Pulling LINK's data:
Pulling LINK's Price data
Pulling LINK's MarketCap data
Pulling LINK's TransactionCount data
Pulling LINK's ActiveAddress data
Merging Dataframes...
LINK data successfully pulled

Start Pulling LOOM's data:
Pulling LOOM's Price data
Pulling LOOM's MarketCap data
Pulling LOOM's TransactionCount data
Pulling LOOM's ActiveAddress data
Merging Dataframes...
LOOM data successfully pulled

Start Pulling LRC's data:
Pulling LRC's Price data
Pulling LRC's MarketCap data
Pulling LRC's TransactionCount data
Pulling LRC's ActiveAddress data
Merging Dataframes...
LRC data successfully pulled

Start Pulling MANA's data:
Pulling MANA's Price data
Pulling MANA's MarketCap data
Pulling MANA's TransactionCount data
Pulling MANA's ActiveAddress data
Merging Dataframes...
MANA data successfully pulled

Start Pulling MATIC's data:
Pulling MATIC's Price data
Pulling MATIC's MarketCap data
Pulling MATIC's TransactionCount data
Pulling MATIC's ActiveAddress data
Merging Dataframes...
MATIC data successfully pulled

Start Pulling MCB's data:
Pulling MCB's Price data
Pulling MCB's MarketCap data
Pulling MCB's TransactionCount data
Pulling MCB's ActiveAddress data
Merging Dataframes...
MCB data successfully pulled

Start Pulling MCO's data:
Pulling MCO's Price data
Pulling MCO's MarketCap data
Pulling MCO's TransactionCount data
Pulling MCO's ActiveAddress data
Merging Dataframes...
MCO data successfully pulled

Start Pulling MFT's data:
Pulling MFT's Price data
Pulling MFT's MarketCap data
Pulling MFT's TransactionCount data
Pulling MFT's ActiveAddress data
Merging Dataframes...
MFT data successfully pulled

Start Pulling MIR's data:
Pulling MIR's Price data
Pulling MIR's MarketCap data
Pulling MIR's TransactionCount data
Pulling MIR's ActiveAddress data
Merging Dataframes...
MIR data successfully pulled

Start Pulling MKR's data:
Pulling MKR's Price data
Pulling MKR's MarketCap data
Pulling MKR's TransactionCount data
Pulling MKR's ActiveAddress data
Merging Dataframes...
MKR data successfully pulled

Start Pulling MLN's data:
Pulling MLN's Price data
Pulling MLN's MarketCap data
Pulling MLN's TransactionCount data
Pulling MLN's ActiveAddress data
Merging Dataframes...
MLN data successfully pulled

Start Pulling MTA's data:
Pulling MTA's Price data
Pulling MTA's MarketCap data
Pulling MTA's TransactionCount data
Pulling MTA's ActiveAddress data
Merging Dataframes...
MTA data successfully pulled

Start Pulling MTL's data:
Pulling MTL's Price data
Pulling MTL's MarketCap data
Pulling MTL's TransactionCount data
Pulling MTL's ActiveAddress data
Merging Dataframes...
MTL data successfully pulled

Start Pulling MX's data:
Pulling MX's Price data
Pulling MX's MarketCap data
Pulling MX's TransactionCount data
Pulling MX's ActiveAddress data
Merging Dataframes...
MX data successfully pulled

Start Pulling NDX's data:
Pulling NDX's Price data
Pulling NDX's MarketCap data
Pulling NDX's TransactionCount data
Pulling NDX's ActiveAddress data
Merging Dataframes...
NDX data successfully pulled

Start Pulling NEXO's data:
Pulling NEXO's Price data
Pulling NEXO's MarketCap data
Pulling NEXO's TransactionCount data
Pulling NEXO's ActiveAddress data
Merging Dataframes...
NEXO data successfully pulled

Start Pulling NFTX's data:
Pulling NFTX's Price data
Pulling NFTX's MarketCap data
Pulling NFTX's TransactionCount data
Pulling NFTX's ActiveAddress data
Merging Dataframes...
NFTX data successfully pulled

Start Pulling NMR's data:
Pulling NMR's Price data
Pulling NMR's MarketCap data
Pulling NMR's TransactionCount data
Pulling NMR's ActiveAddress data
Merging Dataframes...
NMR data successfully pulled

Start Pulling OCEAN's data:
Pulling OCEAN's Price data
Pulling OCEAN's MarketCap data
Pulling OCEAN's TransactionCount data
Pulling OCEAN's ActiveAddress data
Merging Dataframes...
OCEAN data successfully pulled

Start Pulling OKB's data:
Pulling OKB's Price data
Pulling OKB's MarketCap data
Pulling OKB's TransactionCount data
Pulling OKB's ActiveAddress data
Merging Dataframes...
OKB data successfully pulled

Start Pulling OMG's data:
Pulling OMG's Price data
Pulling OMG's MarketCap data
Pulling OMG's TransactionCount data
Pulling OMG's ActiveAddress data
Merging Dataframes...
OMG data successfully pulled

Start Pulling PAY's data:
Pulling PAY's Price data
Pulling PAY's MarketCap data
Pulling PAY's TransactionCount data
Pulling PAY's ActiveAddress data
Merging Dataframes...
PAY data successfully pulled

Start Pulling PERP's data:
Pulling PERP's Price data
Pulling PERP's MarketCap data
Pulling PERP's TransactionCount data
Pulling PERP's ActiveAddress data
Merging Dataframes...
PERP data successfully pulled

Start Pulling PICKLE's data:
Pulling PICKLE's Price data
Pulling PICKLE's MarketCap data
Pulling PICKLE's TransactionCount data
Pulling PICKLE's ActiveAddress data
Merging Dataframes...
PICKLE data successfully pulled

Start Pulling PNK's data:
Pulling PNK's Price data
Pulling PNK's MarketCap data
Pulling PNK's TransactionCount data
Pulling PNK's ActiveAddress data
Merging Dataframes...
PNK data successfully pulled

Start Pulling PNT's data:
Pulling PNT's Price data
Pulling PNT's MarketCap data
Pulling PNT's TransactionCount data
Pulling PNT's ActiveAddress data
Merging Dataframes...
PNT data successfully pulled

Start Pulling POLY's data:
Pulling POLY's Price data
Pulling POLY's MarketCap data
Pulling POLY's TransactionCount data
Pulling POLY's ActiveAddress data
Merging Dataframes...
POLY data successfully pulled

Start Pulling POWR's data:
Pulling POWR's Price data
Pulling POWR's MarketCap data
Pulling POWR's TransactionCount data
Pulling POWR's ActiveAddress data
Merging Dataframes...
POWR data successfully pulled

Start Pulling PPT's data:
Pulling PPT's Price data
Pulling PPT's MarketCap data
Pulling PPT's TransactionCount data
Pulling PPT's ActiveAddress data
Merging Dataframes...
PPT data successfully pulled

Start Pulling QASH's data:
Pulling QASH's Price data
Pulling QASH's MarketCap data
Pulling QASH's TransactionCount data
Pulling QASH's ActiveAddress data
Merging Dataframes...
QASH data successfully pulled

Start Pulling QKC's data:
Pulling QKC's Price data
Pulling QKC's MarketCap data
Pulling QKC's TransactionCount data
Pulling QKC's ActiveAddress data
Merging Dataframes...
QKC data successfully pulled

Start Pulling QNT's data:
Pulling QNT's Price data
Pulling QNT's MarketCap data
Pulling QNT's TransactionCount data
Pulling QNT's ActiveAddress data
Merging Dataframes...
QNT data successfully pulled

Start Pulling RDN's data:
Pulling RDN's Price data
Pulling RDN's MarketCap data
Pulling RDN's TransactionCount data
Pulling RDN's ActiveAddress data
Merging Dataframes...
RDN data successfully pulled

Start Pulling REN's data:
Pulling REN's Price data
Pulling REN's MarketCap data
Pulling REN's TransactionCount data
Pulling REN's ActiveAddress data
Merging Dataframes...
REN data successfully pulled

Start Pulling REP's data:
Pulling REP's Price data
Pulling REP's MarketCap data
Pulling REP's TransactionCount data
Pulling REP's ActiveAddress data
Merging Dataframes...
REP data successfully pulled

Start Pulling RLC's data:
Pulling RLC's Price data
Pulling RLC's MarketCap data
Pulling RLC's TransactionCount data
Pulling RLC's ActiveAddress data
Merging Dataframes...
RLC data successfully pulled

Start Pulling ROOK's data:
Pulling ROOK's Price data
Pulling ROOK's MarketCap data
Pulling ROOK's TransactionCount data
Pulling ROOK's ActiveAddress data
Merging Dataframes...
ROOK data successfully pulled

Start Pulling RPL's data:
Pulling RPL's Price data
Pulling RPL's MarketCap data
Pulling RPL's TransactionCount data
Pulling RPL's ActiveAddress data
Merging Dataframes...
RPL data successfully pulled

Start Pulling RSR's data:
Pulling RSR's Price data
Pulling RSR's MarketCap data
Pulling RSR's TransactionCount data
Pulling RSR's ActiveAddress data
Merging Dataframes...
RSR data successfully pulled

Start Pulling SAI's data:
Pulling SAI's Price data
Pulling SAI's MarketCap data
Pulling SAI's TransactionCount data
Pulling SAI's ActiveAddress data
Merging Dataframes...
SAI data successfully pulled

Start Pulling SAN's data:
Pulling SAN's Price data
Pulling SAN's MarketCap data
Pulling SAN's TransactionCount data
Pulling SAN's ActiveAddress data
Merging Dataframes...
SAN data successfully pulled

Start Pulling SNT's data:
Pulling SNT's Price data
Pulling SNT's MarketCap data
Pulling SNT's TransactionCount data
Pulling SNT's ActiveAddress data
Merging Dataframes...
SNT data successfully pulled

Start Pulling SNX's data:
Pulling SNX's Price data
Pulling SNX's MarketCap data
Pulling SNX's TransactionCount data
Pulling SNX's ActiveAddress data
Merging Dataframes...
SNX data successfully pulled

Start Pulling STAKE's data:
Pulling STAKE's Price data
Pulling STAKE's MarketCap data
Pulling STAKE's TransactionCount data
Pulling STAKE's ActiveAddress data
Merging Dataframes...
STAKE data successfully pulled

Start Pulling STORJ's data:

In [95]:
def getLargeCap():

    largeCapSample = pd.DataFrame(columns = LTC_All.columns.values)  # can be improved

    largeCapSample['Asset'] = ''
    from functools import reduce

    for i in largeList:
        dfName = f"{i}_All" 
        largeCapSample = largeCapSample.append(globals()[dfName])
    
    return largeCapSample

In [96]:
largeCapSample = getLargeCap()

In [97]:
largeCapSample

,Date,Price,MarketCap,TransactionCount,ActiveAddress,RiskFree,Return,Asset
0,2021-04-26,56613.202648,1.058532e+12,1861992.0,5778871,0.02,0.154432,BTC
1,2021-05-03,58218.566077,1.088991e+12,2038316.0,6622607,0.02,0.028357,BTC
2,2021-05-10,46406.331544,8.683518e+11,1908851.0,6062366,0.02,-0.202895,BTC
3,2021-05-17,34888.678313,6.530094e+11,1607054.0,4960283,0.00,-0.248191,BTC
4,2021-05-24,35639.981455,6.672647e+11,1508758.0,4981835,0.01,0.021534,BTC
...,...,...,...,...,...,...,...,...
47,2022-03-21,0.725993,6.152760e+08,0.0,1603,0.22,0.319245,ZRX
48,2022-03-28,0.910632,7.717570e+08,0.0,835,0.19,0.254326,ZRX
49,2022-04-04,0.754619,6.395366e+08,0.0,1284,0.18,-0.171324,ZRX
50,2022-04-11,0.686854,5.821057e+08,0.0,1266,0.22,-0.089801,ZRX
51,2022-04-18,0.808817,6.854696e+08,0.0,2274,0.38,0.177569,ZRX

### Reshape Dataframe

In [106]:
returnAll = largeCapSample.loc[:,['Date', 'Return', 'Asset']].pivot(index="Date", columns=["Asset"], values='Return').reset_index().rename_axis(None, axis=1).sort_values('Date')
returnAll.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-04-26,0.393008,0.148764,-0.073592,0.219156,0.028645,0.450839,0.282477,0.307409,0.229047,...,-0.047122,NaN,0.149613,0.326124,0.541436,0.153995,0.214523,0.394776,-0.003986,0.191180
1,2021-05-03,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
2,2021-05-10,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
3,2021-05-17,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
4,2021-05-24,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871

### Calculate Momentum Matrix(return 1-week.)

In [107]:
momMatrix = returnAll.copy()
momMatrix['Date'] = momMatrix['Date'].shift(-1)
momMatrix = momMatrix.drop(momMatrix.tail(1).index)
momMatrix.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-05-03,0.393008,0.148764,-0.073592,0.219156,0.028645,0.450839,0.282477,0.307409,0.229047,...,-0.047122,NaN,0.149613,0.326124,0.541436,0.153995,0.214523,0.394776,-0.003986,0.191180
1,2021-05-10,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
2,2021-05-17,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
3,2021-05-24,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
4,2021-05-31,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871

### Calculate MOM Percentile(30%, 70%)

In [108]:
# Only elect Assets(BTC, ETH...) columns
col = []
for colName in momMatrix.columns:
     if colName not in ['Date','MOM30p','MOM70p']:
         col.append(colName)
momMatrix[col].head()

,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,BIX,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,0.393008,0.148764,-0.073592,0.219156,0.028645,0.450839,0.282477,0.307409,0.229047,0.596650,...,-0.047122,NaN,0.149613,0.326124,0.541436,0.153995,0.214523,0.394776,-0.003986,0.191180
1,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,-0.168886,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
2,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,-0.131835,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
3,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,-0.509419,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
4,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,0.010949,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871

In [109]:
# 30% pencentile
momMatrix[col].quantile(.3, axis=1).head()

0    0.154039
1   -0.020051
2   -0.211393
3   -0.517193
4    0.070218
Name: 0.3, dtype: float64

In [110]:
momMatrix['MOM30p']=momMatrix[col].quantile(.3, axis=1)
momMatrix['MOM70p']=momMatrix[col].quantile(.7, axis=1)
momMatrix.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM,MOM30p,MOM70p
0,2021-05-03,0.393008,0.148764,-0.073592,0.219156,0.028645,0.450839,0.282477,0.307409,0.229047,...,0.149613,0.326124,0.541436,0.153995,0.214523,0.394776,-0.003986,0.191180,0.154039,0.321489
1,2021-05-10,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,...,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608,-0.020051,0.100052
2,2021-05-17,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428,-0.211393,-0.070300
3,2021-05-24,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748,-0.517193,-0.370030
4,2021-05-31,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871,0.070218,0.224148

In [111]:
# reshape for later use
momPt = momMatrix[['MOM30p','MOM70p']]
momMatrix = momMatrix.drop(['MOM30p','MOM70p'], axis=1)

### Calculate Momentum portfolio returns

In [112]:
# delete the first 1 row of returnAll to match the momMatrix date
returnAll = returnAll.drop(returnAll.head(1).index).reset_index().drop('index', axis=1)
returnAll.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-05-03,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
1,2021-05-10,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
2,2021-05-17,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
3,2021-05-24,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871
4,2021-05-31,0.126079,-0.039411,0.076882,0.345243,-0.040499,0.302944,0.054685,0.090265,0.082609,...,0.046409,NaN,0.005559,-0.025069,0.090076,0.100535,0.028074,0.128756,0.000937,0.052810

In [113]:
# initialize df for low, medium and high MOM
lowMom = pd.DataFrame(columns = ['Date', 'LowMomentum'])
lowMom['Date'] = momMatrix['Date']

medMom = pd.DataFrame(columns = ['Date', 'MediumMomentum'])
medMom['Date'] = momMatrix['Date']

highMom = pd.DataFrame(columns = ['Date', 'HighMomentum'])
highMom['Date'] = momMatrix['Date']

In [114]:
# iterate through whole dataframe to get low, medium and high MOM
lowList = []
medList = []
highList = []
for i in range(0, momMatrix.shape[0]):
    for j in range(1, momMatrix.shape[1]):
        if momMatrix.iloc[i,j] < momPt.iloc[i,0]:
            lowList.append(returnAll.iloc[i,j])
        elif (momPt.iloc[i,0] < momMatrix.iloc[i,j]) and (momMatrix.iloc[i,j] < momPt.iloc[i,1]):
            medList.append(returnAll.iloc[i,j])
        elif momMatrix.iloc[i,j] > momPt.iloc[i,1]:
            highList.append(returnAll.iloc[i,j])
    lowMom.iloc[i,1] = sum(lowList) / len(lowList)
    medMom.iloc[i,1] = sum(medList) / len(medList)
    highMom.iloc[i,1] = sum(highList) / len(highList)

In [116]:
from functools import reduce
momLMH = reduce(lambda  left,right: pd.merge(left,right, on='Date', how='outer'), [lowMom, medMom, highMom])
momLMH.head()

        Date LowMomentum MediumMomentum HighMomentum
0 2021-05-03    0.028317       0.084243     0.167024
1 2021-05-10   -0.051756      -0.020802     0.021574
2 2021-05-17    -0.19436        -0.1585    -0.089848
3 2021-05-24   -0.084516      -0.072168    -0.054362
4 2021-05-31   -0.055801      -0.036919    -0.023456

### Calculate Momentum Factor

In [117]:
momFactor = pd.DataFrame(columns = ['Date', 'MOM_LTW'])
momFactor['Date'] = momMatrix['Date']
momFactor['MOM_LTW'] = momLMH['HighMomentum'] - momLMH['LowMomentum']

In [118]:
momFactor.head(20)

         Date   MOM_LTW
0  2021-05-03  0.138707
1  2021-05-10   0.07333
2  2021-05-17  0.104512
3  2021-05-24  0.030154
4  2021-05-31  0.032345
5  2021-06-07  0.018745
6  2021-06-14  0.018277
7  2021-06-21  0.019533
8  2021-06-28 -0.000888
9  2021-07-05 -0.001338
10 2021-07-12 -0.005568
11 2021-07-19 -0.009613
12 2021-07-26 -0.009612
13 2021-08-02 -0.006168
14 2021-08-09  0.001224
15 2021-08-16  0.005785
16 2021-08-23  0.000662
17 2021-08-30 -0.000127
18 2021-09-06 -0.000545
19 2021-09-13  0.002212