## Fixed Data:

In [1]:
pip install fredapi

Requirement already satisfied: fredapi in /usr/local/lib/python3.7/dist-packages (0.5.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fredapi) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fredapi) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->fredapi) (1.15.0)

In [117]:
# Progress Bar
pip install tqdm

Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (4.64.0)

In [2]:

import json
import requests
import pandas as pd
from fredapi import Fred

API_KEY = '1vGb0FOsg2hEIGrEhpueLCcWd1Y'
FRED_API_KEY = 'b13a905b98b5dfc1f3910d6a0d875ae3'

rootUrl = 'https://api.glassnode.com'

symbolList = ['BTC', 'ETH', 'LTC', 'AAVE', 'ABT', 'AMPL', 'ANT', 'ARMOR', 'BADGER', 'BAL', 'BAND', 'BAT', 'BIX', 'BNT', 'BOND', 'BRD', 'BUSD', 'BZRX', 'CELR', 'CHSB', 'CND', 'COMP', 'CREAM', 'CRO', 'CRV', 'CVC', 'CVP', 'DAI', 'DDX', 'DENT', 'DGX', 'DHT', 'DMG', 'DODO', 'DOUGH', 'DRGN', 'ELF', 'ENG', 'ENJ', 'EURS', 'FET', 'FTT', 'FUN', 'GNO', 'GUSD', 'HEGIC', 'HOT', 'HPT', 'HT', 'HUSD', 'INDEX', 'KCS', 'LAMB', 'LBA', 'LDO', 'LEO', 'LINK', 'LOOM', 'LRC', 'MANA', 'MATIC',
              'MCB', 'MCO', 'MFT', 'MIR', 'MKR', 'MLN', 'MTA', 'MTL', 'MX', 'NDX', 'NEXO', 'NFTX', 'NMR', 'Nsure', 'OCEAN', 'OKB', 'OMG', 'PAY', 'PERP', 'PICKLE', 'PNK', 'PNT', 'POLY', 'POWR', 'PPT', 'QASH', 'QKC', 'QNT', 'RDN', 'REN', 'REP', 'RLC', 'ROOK', 'RPL', 'RSR', 'SAI', 'SAN', 'SNT', 'SNX', 'STAKE', 'STORJ', 'sUSD', 'SUSHI', 'TEL', 'TOP', 'UBT', 'UMA', 'UNI', 'USDC', 'USDK', 'USDP', 'USDT', 'UTK', 'VERI', 'WaBi', 'WAX', 'WBTC', 'WETH', 'wNXM', 'WTC', 'YAM', 'YFI', 'ZRX']

symbolListShort = ['BTC', 'ETH', 'LTC']

endPoints = {
    'Price': '/v1/metrics/market/price_usd_close',
    'MarketCap': '/v1/metrics/market/marketcap_usd',
    'TransactionCount': '/v1/metrics/transactions/count',
    'ActiveAddress': '/v1/metrics/addresses/active_count',
}

### <font color='red'> It seems the risk-free rate is daily rate. is it in percentage or in unit 1? need to adjust to weekly rate and select Monday

In [3]:
fred = Fred(api_key=FRED_API_KEY)
Risk_free_rate = fred.get_series('DGS1MO').to_frame().reset_index().rename(columns={'index':'Date', 
                                                                                    0:'RiskFree'})
Risk_free_rate['RiskFree']= Risk_free_rate['RiskFree'] / 100

## Get Multiple Attributes for Multiple Coins:

In [104]:
### Define a Method to Pull Data According to Input Prameter(coin, feature)

def PullData(coin, feature):
    print(f"Pulling {coin}'s {feature}")

    # Assemble full request url and get responses:
    reqUrl = rootUrl + endPoints[feature]
    res = requests.get(reqUrl,
                       params={'a': coin, 
                               'api_key': API_KEY, 
                               'i':'1w'})
    data_raw = pd.read_json(res.text, 
                            convert_dates=['t'])

    # Rename column "v" according to features
    data = data_raw.rename(columns={"v" : f"{feature}", 
                                    't':'Date'})

    # Return a dataframe
    return data

In [118]:
# Effect:
PullData('BTC', 'Price').head()

Pulling BTC's Price

        Date    Price
0 2010-07-12  0.08584
1 2010-07-19  0.05050
2 2010-07-26  0.06110
3 2010-08-02  0.06090
4 2010-08-09  0.06529

In [124]:
### Define a Method to Get Features(Listed in "endPoints"(Constant)) of Coins(Listed in "coinList"(Method Prameter)) 

def PullStart(coinList):
    # Initialization
    from functools import reduce
    from tqdm import tqdm

    colName = ["Date"]
    for key, value in endPoints.items():
        colName.append(key) 
    fullFrame = pd.DataFrame(columns = colName.append("Asset"))

    # Data Pull
    for i in tqdm(coinList):
        print(f"Start Pulling {i}'s data:")

        # Preparation for merging
        frameName = f"{i}_Frames"
        locals()[frameName] = []

        # Get data
        for j in list(endPoints.keys()):
            locals()[frameName].append(PullData(i, 
                                                j))

        # Merge 2-column dataframes to a single dataframe
        dfName = f"{i}_All"
        # Outer Merge Glassnode to Ensure Not Missing Any Values.
        # Left Merge Fred to ensure all the records in api stored.
        locals()[dfName] = reduce(lambda left, right:
                                  pd.merge(left,right, 
                                           on='Date', 
                                           how='outer'), 
                                  locals()[frameName]).merge(Risk_free_rate, 
                                                             how = 'left').sort_values(by=['Date'])
        locals()[dfName]['Asset'] = i

        # Merge All Coins into a single Dataframe
        fullFrame = fullFrame.append(locals()[dfName],
                                     ignore_index=True)

        print(f"{i} data successfully pulled\n")
    print('All Frames Merged')
    print('\nALL DATA SUCCESSFULLY PULLED!')

    return fullFrame

In [125]:
# Effect:
df = PullStart(symbolListShort)
df

  0%|          | 0/3 [00:00<?, ?it/s]

Start Pulling BTC's data:
Pulling BTC's Price
Pulling BTC's MarketCap
Pulling BTC's TransactionCount
Pulling BTC's ActiveAddress

 33%|███▎      | 1/3 [00:02<00:05,  2.78s/it]

BTC data successfully pulled

Start Pulling ETH's data:
Pulling ETH's Price
Pulling ETH's MarketCap
Pulling ETH's TransactionCount
Pulling ETH's ActiveAddress

 67%|██████▋   | 2/3 [00:04<00:01,  1.99s/it]

ETH data successfully pulled

Start Pulling LTC's data:
Pulling LTC's Price
Pulling LTC's MarketCap
Pulling LTC's TransactionCount
Pulling LTC's ActiveAddress

100%|██████████| 3/3 [00:06<00:00,  2.17s/it]

LTC data successfully pulled

All Frames Merged

ALL DATA SUCCESSFULLY PULLED!

,Date,Price,MarketCap,TransactionCount,ActiveAddress,RiskFree,Asset
0,2008-12-29,NaN,NaN,NaN,0.0,0.0004,BTC
1,2009-01-05,NaN,NaN,NaN,0.0,0.0005,BTC
2,2009-01-12,NaN,NaN,19.0,34.0,0.0004,BTC
3,2009-01-19,NaN,NaN,9.0,63.0,NaN,BTC
4,2009-01-26,NaN,NaN,5.0,61.0,0.0002,BTC
...,...,...,...,...,...,...,...
1595,2022-03-28,128.926292,9.023978e+09,807733.0,1566202.0,0.0019,LTC
1596,2022-04-04,111.343007,7.798857e+09,841901.0,1576883.0,0.0018,LTC
1597,2022-04-11,109.018201,7.641529e+09,832321.0,1652475.0,0.0022,LTC
1598,2022-04-18,104.648982,7.340578e+09,830602.0,1562294.0,0.0038,LTC
1599,2022-04-25,96.258752,NaN,NaN,NaN,0.0040,LTC

## <font color='red'> Imputation for NA values -- to be resolved

## Calculate Returns

In [8]:
### Define a Method to Add Return Column

def AddReturn(sample):
    fullFrame = pd.DataFrame(columns = list(sample.columns).append('Return'))
    for index in sample.groupby('Asset').count().index.values.tolist():
        syntax = f"Asset == '{index}'"
        sagment = sample.query(syntax)
        # Only Select 53 Weeks for Test
        temp = sagment[-53:-1].reset_index().drop('index', axis=1)
        sagment = sagment[-52:].reset_index().drop('index', axis=1)
        sagment['Return'] = (sagment['Price'] - temp['Price'])/temp['Price']
        fullFrame = fullFrame.append(sagment,
                                     ignore_index=True)
    return fullFrame

In [9]:
# Effect:

AddReturn(df)

,Date,Price,MarketCap,TransactionCount,ActiveAddress,RiskFree,Asset,Return
0,2021-05-03,58218.566077,1.088991e+12,2038316.0,6622607.0,0.0002,BTC,0.028357
1,2021-05-10,46406.331544,8.683518e+11,1908851.0,6062366.0,0.0002,BTC,-0.202895
2,2021-05-17,34888.678313,6.530094e+11,1607054.0,4960283.0,0.0000,BTC,-0.248191
3,2021-05-24,35639.981455,6.672647e+11,1508758.0,4981835.0,0.0001,BTC,0.021534
4,2021-05-31,35797.422390,6.704378e+11,1582789.0,4893673.0,NaN,BTC,0.004418
...,...,...,...,...,...,...,...,...
151,2022-03-28,128.926292,9.023978e+09,807733.0,1566202.0,0.0019,LTC,-0.002438
152,2022-04-04,111.343007,7.798857e+09,841901.0,1576883.0,0.0018,LTC,-0.136382
153,2022-04-11,109.018201,7.641529e+09,832321.0,1652475.0,0.0022,LTC,-0.020880
154,2022-04-18,104.648982,7.340578e+09,830602.0,1562294.0,0.0038,LTC,-0.040078
155,2022-04-25,96.114067,NaN,NaN,NaN,0.0040,LTC,-0.081558

## MOM Factor

### Get LargeCap Sample(maket cap > 10000)

In [95]:
### Define a Method to Get LargeCoin List

def getLargeSample():
    from tqdm import tqdm
    largeList = []
    print('Finding All Coins with More Than 1m Cap......')
    for i in tqdm(symbolList):
        if pd.read_json(requests.get(rootUrl + endPoints['MarketCap'], 
                                    params={'a': i, 
                                            'api_key': API_KEY, 
                                            'i':'1w'}).text, 
                        convert_dates=['t']).iloc[-1,1] > 1000000:
            largeList.append(i)
    print("\nDone!")

    return largeList

largeList = getLargeSample()

Finding All Coins with More Than 1m Cap......

100%|██████████| 124/124 [00:50<00:00,  2.47it/s]

Done!

In [106]:
# Get largeCapSample_raw Data(Without Return)
largeCapSample_raw = PullStart(largeList)

  0%|          | 0/120 [00:00<?, ?it/s]

Start Pulling BTC's data:
Pulling BTC's Price
Pulling BTC's MarketCap
Pulling BTC's TransactionCount
Pulling BTC's ActiveAddress

  1%|          | 1/120 [00:03<06:20,  3.20s/it]

BTC data successfully pulled

Start Pulling ETH's data:
Pulling ETH's Price
Pulling ETH's MarketCap
Pulling ETH's TransactionCount
Pulling ETH's ActiveAddress

  2%|▏         | 2/120 [00:04<04:12,  2.14s/it]

ETH data successfully pulled

Start Pulling LTC's data:
Pulling LTC's Price
Pulling LTC's MarketCap
Pulling LTC's TransactionCount
Pulling LTC's ActiveAddress

  2%|▎         | 3/120 [00:07<04:24,  2.26s/it]

LTC data successfully pulled

Start Pulling AAVE's data:
Pulling AAVE's Price
Pulling AAVE's MarketCap
Pulling AAVE's TransactionCount
Pulling AAVE's ActiveAddress

  3%|▎         | 4/120 [00:07<03:24,  1.76s/it]

AAVE data successfully pulled

Start Pulling ABT's data:
Pulling ABT's Price
Pulling ABT's MarketCap
Pulling ABT's TransactionCount
Pulling ABT's ActiveAddress

  4%|▍         | 5/120 [00:09<03:04,  1.61s/it]

ABT data successfully pulled

Start Pulling AMPL's data:
Pulling AMPL's Price
Pulling AMPL's MarketCap
Pulling AMPL's TransactionCount
Pulling AMPL's ActiveAddress

  5%|▌         | 6/120 [00:10<02:40,  1.40s/it]

AMPL data successfully pulled

Start Pulling ANT's data:
Pulling ANT's Price
Pulling ANT's MarketCap
Pulling ANT's TransactionCount
Pulling ANT's ActiveAddress

  6%|▌         | 7/120 [00:11<02:34,  1.37s/it]

ANT data successfully pulled

Start Pulling ARMOR's data:
Pulling ARMOR's Price
Pulling ARMOR's MarketCap
Pulling ARMOR's TransactionCount
Pulling ARMOR's ActiveAddress

  7%|▋         | 8/120 [00:12<02:19,  1.24s/it]

ARMOR data successfully pulled

Start Pulling BADGER's data:
Pulling BADGER's Price
Pulling BADGER's MarketCap
Pulling BADGER's TransactionCount
Pulling BADGER's ActiveAddress

  8%|▊         | 9/120 [00:13<02:10,  1.17s/it]

BADGER data successfully pulled

Start Pulling BAL's data:
Pulling BAL's Price
Pulling BAL's MarketCap
Pulling BAL's TransactionCount
Pulling BAL's ActiveAddress

  8%|▊         | 10/120 [00:14<02:00,  1.10s/it]

BAL data successfully pulled

Start Pulling BAND's data:
Pulling BAND's Price
Pulling BAND's MarketCap
Pulling BAND's TransactionCount
Pulling BAND's ActiveAddress

  9%|▉         | 11/120 [00:15<01:58,  1.08s/it]

BAND data successfully pulled

Start Pulling BAT's data:
Pulling BAT's Price
Pulling BAT's MarketCap
Pulling BAT's TransactionCount
Pulling BAT's ActiveAddress

 10%|█         | 12/120 [00:16<01:59,  1.10s/it]

BAT data successfully pulled

Start Pulling BIX's data:
Pulling BIX's Price
Pulling BIX's MarketCap
Pulling BIX's TransactionCount
Pulling BIX's ActiveAddress

 11%|█         | 13/120 [00:18<02:02,  1.15s/it]

BIX data successfully pulled

Start Pulling BNT's data:
Pulling BNT's Price
Pulling BNT's MarketCap
Pulling BNT's TransactionCount
Pulling BNT's ActiveAddress

 12%|█▏        | 14/120 [00:19<02:08,  1.21s/it]

BNT data successfully pulled

Start Pulling BOND's data:
Pulling BOND's Price
Pulling BOND's MarketCap
Pulling BOND's TransactionCount
Pulling BOND's ActiveAddress

 12%|█▎        | 15/120 [00:20<02:03,  1.17s/it]

BOND data successfully pulled

Start Pulling BRD's data:
Pulling BRD's Price
Pulling BRD's MarketCap
Pulling BRD's TransactionCount
Pulling BRD's ActiveAddress

 13%|█▎        | 16/120 [00:22<02:25,  1.40s/it]

BRD data successfully pulled

Start Pulling BUSD's data:
Pulling BUSD's Price
Pulling BUSD's MarketCap
Pulling BUSD's TransactionCount
Pulling BUSD's ActiveAddress

 14%|█▍        | 17/120 [00:23<02:19,  1.36s/it]

BUSD data successfully pulled

Start Pulling BZRX's data:
Pulling BZRX's Price
Pulling BZRX's MarketCap
Pulling BZRX's TransactionCount
Pulling BZRX's ActiveAddress

 15%|█▌        | 18/120 [00:24<02:08,  1.26s/it]

BZRX data successfully pulled

Start Pulling CELR's data:
Pulling CELR's Price
Pulling CELR's MarketCap
Pulling CELR's TransactionCount
Pulling CELR's ActiveAddress

 16%|█▌        | 19/120 [00:25<02:00,  1.19s/it]

CELR data successfully pulled

Start Pulling CHSB's data:
Pulling CHSB's Price
Pulling CHSB's MarketCap
Pulling CHSB's TransactionCount
Pulling CHSB's ActiveAddress

 17%|█▋        | 20/120 [00:26<01:57,  1.17s/it]

CHSB data successfully pulled

Start Pulling CND's data:
Pulling CND's Price
Pulling CND's MarketCap
Pulling CND's TransactionCount
Pulling CND's ActiveAddress

 18%|█▊        | 21/120 [00:28<01:57,  1.19s/it]

CND data successfully pulled

Start Pulling COMP's data:
Pulling COMP's Price
Pulling COMP's MarketCap
Pulling COMP's TransactionCount
Pulling COMP's ActiveAddress

 18%|█▊        | 22/120 [00:29<01:52,  1.15s/it]

COMP data successfully pulled

Start Pulling CREAM's data:
Pulling CREAM's Price
Pulling CREAM's MarketCap
Pulling CREAM's TransactionCount
Pulling CREAM's ActiveAddress

 19%|█▉        | 23/120 [00:30<01:48,  1.12s/it]

CREAM data successfully pulled

Start Pulling CRO's data:
Pulling CRO's Price
Pulling CRO's MarketCap
Pulling CRO's TransactionCount
Pulling CRO's ActiveAddress

 20%|██        | 24/120 [00:31<01:46,  1.10s/it]

CRO data successfully pulled

Start Pulling CRV's data:
Pulling CRV's Price
Pulling CRV's MarketCap
Pulling CRV's TransactionCount
Pulling CRV's ActiveAddress

 21%|██        | 25/120 [00:32<01:44,  1.10s/it]

CRV data successfully pulled

Start Pulling CVC's data:
Pulling CVC's Price
Pulling CVC's MarketCap
Pulling CVC's TransactionCount
Pulling CVC's ActiveAddress

 22%|██▏       | 26/120 [00:33<01:44,  1.11s/it]

CVC data successfully pulled

Start Pulling CVP's data:
Pulling CVP's Price
Pulling CVP's MarketCap
Pulling CVP's TransactionCount
Pulling CVP's ActiveAddress

 22%|██▎       | 27/120 [00:34<01:48,  1.17s/it]

CVP data successfully pulled

Start Pulling DAI's data:
Pulling DAI's Price
Pulling DAI's MarketCap
Pulling DAI's TransactionCount
Pulling DAI's ActiveAddress

 23%|██▎       | 28/120 [00:35<01:47,  1.17s/it]

DAI data successfully pulled

Start Pulling DDX's data:
Pulling DDX's Price
Pulling DDX's MarketCap
Pulling DDX's TransactionCount
Pulling DDX's ActiveAddress

 24%|██▍       | 29/120 [00:37<01:47,  1.18s/it]

DDX data successfully pulled

Start Pulling DENT's data:
Pulling DENT's Price
Pulling DENT's MarketCap
Pulling DENT's TransactionCount
Pulling DENT's ActiveAddress

 25%|██▌       | 30/120 [00:38<01:46,  1.18s/it]

DENT data successfully pulled

Start Pulling DGX's data:
Pulling DGX's Price
Pulling DGX's MarketCap
Pulling DGX's TransactionCount
Pulling DGX's ActiveAddress

 26%|██▌       | 31/120 [00:39<01:42,  1.15s/it]

DGX data successfully pulled

Start Pulling DHT's data:
Pulling DHT's Price
Pulling DHT's MarketCap
Pulling DHT's TransactionCount
Pulling DHT's ActiveAddress

 27%|██▋       | 32/120 [00:40<01:38,  1.12s/it]

DHT data successfully pulled

Start Pulling DMG's data:
Pulling DMG's Price
Pulling DMG's MarketCap
Pulling DMG's TransactionCount
Pulling DMG's ActiveAddress

 28%|██▊       | 33/120 [00:41<01:34,  1.09s/it]

DMG data successfully pulled

Start Pulling DODO's data:
Pulling DODO's Price
Pulling DODO's MarketCap
Pulling DODO's TransactionCount
Pulling DODO's ActiveAddress

 28%|██▊       | 34/120 [00:42<01:30,  1.05s/it]

DODO data successfully pulled

Start Pulling DOUGH's data:
Pulling DOUGH's Price
Pulling DOUGH's MarketCap
Pulling DOUGH's TransactionCount
Pulling DOUGH's ActiveAddress

 29%|██▉       | 35/120 [00:43<01:27,  1.03s/it]

DOUGH data successfully pulled

Start Pulling DRGN's data:
Pulling DRGN's Price
Pulling DRGN's MarketCap
Pulling DRGN's TransactionCount
Pulling DRGN's ActiveAddress

 30%|███       | 36/120 [00:44<01:29,  1.07s/it]

DRGN data successfully pulled

Start Pulling ELF's data:
Pulling ELF's Price
Pulling ELF's MarketCap
Pulling ELF's TransactionCount
Pulling ELF's ActiveAddress

 31%|███       | 37/120 [00:45<01:36,  1.16s/it]

ELF data successfully pulled

Start Pulling ENJ's data:
Pulling ENJ's Price
Pulling ENJ's MarketCap
Pulling ENJ's TransactionCount
Pulling ENJ's ActiveAddress

 32%|███▏      | 38/120 [00:47<01:41,  1.24s/it]

ENJ data successfully pulled

Start Pulling EURS's data:
Pulling EURS's Price
Pulling EURS's MarketCap
Pulling EURS's TransactionCount
Pulling EURS's ActiveAddress

 32%|███▎      | 39/120 [00:48<01:43,  1.28s/it]

EURS data successfully pulled

Start Pulling FET's data:
Pulling FET's Price
Pulling FET's MarketCap
Pulling FET's TransactionCount
Pulling FET's ActiveAddress

 33%|███▎      | 40/120 [00:49<01:36,  1.20s/it]

FET data successfully pulled

Start Pulling FTT's data:
Pulling FTT's Price
Pulling FTT's MarketCap
Pulling FTT's TransactionCount
Pulling FTT's ActiveAddress

 34%|███▍      | 41/120 [00:50<01:33,  1.19s/it]

FTT data successfully pulled

Start Pulling FUN's data:
Pulling FUN's Price
Pulling FUN's MarketCap
Pulling FUN's TransactionCount
Pulling FUN's ActiveAddress

 35%|███▌      | 42/120 [00:52<01:35,  1.23s/it]

FUN data successfully pulled

Start Pulling GNO's data:
Pulling GNO's Price
Pulling GNO's MarketCap
Pulling GNO's TransactionCount
Pulling GNO's ActiveAddress

 36%|███▌      | 43/120 [00:53<01:34,  1.22s/it]

GNO data successfully pulled

Start Pulling GUSD's data:
Pulling GUSD's Price
Pulling GUSD's MarketCap
Pulling GUSD's TransactionCount
Pulling GUSD's ActiveAddress

 37%|███▋      | 44/120 [00:54<01:35,  1.26s/it]

GUSD data successfully pulled

Start Pulling HEGIC's data:
Pulling HEGIC's Price
Pulling HEGIC's MarketCap
Pulling HEGIC's TransactionCount
Pulling HEGIC's ActiveAddress

 38%|███▊      | 45/120 [00:55<01:32,  1.23s/it]

HEGIC data successfully pulled

Start Pulling HOT's data:
Pulling HOT's Price
Pulling HOT's MarketCap
Pulling HOT's TransactionCount
Pulling HOT's ActiveAddress

 38%|███▊      | 46/120 [00:57<01:44,  1.41s/it]

HOT data successfully pulled

Start Pulling HPT's data:
Pulling HPT's Price
Pulling HPT's MarketCap
Pulling HPT's TransactionCount
Pulling HPT's ActiveAddress

 39%|███▉      | 47/120 [00:59<01:43,  1.42s/it]

HPT data successfully pulled

Start Pulling HT's data:
Pulling HT's Price
Pulling HT's MarketCap
Pulling HT's TransactionCount
Pulling HT's ActiveAddress

 40%|████      | 48/120 [01:00<01:37,  1.35s/it]

HT data successfully pulled

Start Pulling HUSD's data:
Pulling HUSD's Price
Pulling HUSD's MarketCap
Pulling HUSD's TransactionCount
Pulling HUSD's ActiveAddress

 41%|████      | 49/120 [01:01<01:31,  1.28s/it]

HUSD data successfully pulled

Start Pulling KCS's data:
Pulling KCS's Price
Pulling KCS's MarketCap
Pulling KCS's TransactionCount
Pulling KCS's ActiveAddress

 42%|████▏     | 50/120 [01:02<01:29,  1.27s/it]

KCS data successfully pulled

Start Pulling LAMB's data:
Pulling LAMB's Price
Pulling LAMB's MarketCap
Pulling LAMB's TransactionCount
Pulling LAMB's ActiveAddress

 42%|████▎     | 51/120 [01:03<01:22,  1.20s/it]

LAMB data successfully pulled

Start Pulling LBA's data:
Pulling LBA's Price
Pulling LBA's MarketCap
Pulling LBA's TransactionCount
Pulling LBA's ActiveAddress

 43%|████▎     | 52/120 [01:04<01:18,  1.16s/it]

LBA data successfully pulled

Start Pulling LDO's data:
Pulling LDO's Price
Pulling LDO's MarketCap
Pulling LDO's TransactionCount
Pulling LDO's ActiveAddress

 44%|████▍     | 53/120 [01:05<01:14,  1.12s/it]

LDO data successfully pulled

Start Pulling LEO's data:
Pulling LEO's Price
Pulling LEO's MarketCap
Pulling LEO's TransactionCount
Pulling LEO's ActiveAddress

 45%|████▌     | 54/120 [01:07<01:14,  1.13s/it]

LEO data successfully pulled

Start Pulling LINK's data:
Pulling LINK's Price
Pulling LINK's MarketCap
Pulling LINK's TransactionCount
Pulling LINK's ActiveAddress

 46%|████▌     | 55/120 [01:08<01:13,  1.13s/it]

LINK data successfully pulled

Start Pulling LOOM's data:
Pulling LOOM's Price
Pulling LOOM's MarketCap
Pulling LOOM's TransactionCount
Pulling LOOM's ActiveAddress

 47%|████▋     | 56/120 [01:09<01:12,  1.13s/it]

LOOM data successfully pulled

Start Pulling LRC's data:
Pulling LRC's Price
Pulling LRC's MarketCap
Pulling LRC's TransactionCount
Pulling LRC's ActiveAddress

 48%|████▊     | 57/120 [01:10<01:18,  1.25s/it]

LRC data successfully pulled

Start Pulling MANA's data:
Pulling MANA's Price
Pulling MANA's MarketCap
Pulling MANA's TransactionCount
Pulling MANA's ActiveAddress

 48%|████▊     | 58/120 [01:12<01:25,  1.37s/it]

MANA data successfully pulled

Start Pulling MATIC's data:
Pulling MATIC's Price
Pulling MATIC's MarketCap
Pulling MATIC's TransactionCount
Pulling MATIC's ActiveAddress

 49%|████▉     | 59/120 [01:13<01:17,  1.27s/it]

MATIC data successfully pulled

Start Pulling MCB's data:
Pulling MCB's Price
Pulling MCB's MarketCap
Pulling MCB's TransactionCount
Pulling MCB's ActiveAddress

 50%|█████     | 60/120 [01:14<01:10,  1.18s/it]

MCB data successfully pulled

Start Pulling MCO's data:
Pulling MCO's Price
Pulling MCO's MarketCap
Pulling MCO's TransactionCount
Pulling MCO's ActiveAddress

 51%|█████     | 61/120 [01:15<01:07,  1.15s/it]

MCO data successfully pulled

Start Pulling MFT's data:
Pulling MFT's Price
Pulling MFT's MarketCap
Pulling MFT's TransactionCount
Pulling MFT's ActiveAddress

 52%|█████▏    | 62/120 [01:16<01:06,  1.15s/it]

MFT data successfully pulled

Start Pulling MIR's data:
Pulling MIR's Price
Pulling MIR's MarketCap
Pulling MIR's TransactionCount
Pulling MIR's ActiveAddress

 52%|█████▎    | 63/120 [01:17<01:02,  1.10s/it]

MIR data successfully pulled

Start Pulling MKR's data:
Pulling MKR's Price
Pulling MKR's MarketCap
Pulling MKR's TransactionCount
Pulling MKR's ActiveAddress

 53%|█████▎    | 64/120 [01:19<01:05,  1.17s/it]

MKR data successfully pulled

Start Pulling MLN's data:
Pulling MLN's Price
Pulling MLN's MarketCap
Pulling MLN's TransactionCount
Pulling MLN's ActiveAddress

 54%|█████▍    | 65/120 [01:20<01:16,  1.38s/it]

MLN data successfully pulled

Start Pulling MTA's data:
Pulling MTA's Price
Pulling MTA's MarketCap
Pulling MTA's TransactionCount
Pulling MTA's ActiveAddress

 55%|█████▌    | 66/120 [01:21<01:08,  1.26s/it]

MTA data successfully pulled

Start Pulling MTL's data:
Pulling MTL's Price
Pulling MTL's MarketCap
Pulling MTL's TransactionCount
Pulling MTL's ActiveAddress

 56%|█████▌    | 67/120 [01:23<01:17,  1.46s/it]

MTL data successfully pulled

Start Pulling MX's data:
Pulling MX's Price
Pulling MX's MarketCap
Pulling MX's TransactionCount
Pulling MX's ActiveAddress

 57%|█████▋    | 68/120 [01:25<01:12,  1.39s/it]

MX data successfully pulled

Start Pulling NDX's data:
Pulling NDX's Price
Pulling NDX's MarketCap
Pulling NDX's TransactionCount
Pulling NDX's ActiveAddress

 57%|█████▊    | 69/120 [01:26<01:09,  1.35s/it]

NDX data successfully pulled

Start Pulling NEXO's data:
Pulling NEXO's Price
Pulling NEXO's MarketCap
Pulling NEXO's TransactionCount
Pulling NEXO's ActiveAddress

 58%|█████▊    | 70/120 [01:27<01:05,  1.31s/it]

NEXO data successfully pulled

Start Pulling NFTX's data:
Pulling NFTX's Price
Pulling NFTX's MarketCap
Pulling NFTX's TransactionCount
Pulling NFTX's ActiveAddress

 59%|█████▉    | 71/120 [01:28<00:59,  1.22s/it]

NFTX data successfully pulled

Start Pulling NMR's data:
Pulling NMR's Price
Pulling NMR's MarketCap
Pulling NMR's TransactionCount
Pulling NMR's ActiveAddress

 60%|██████    | 72/120 [01:29<00:57,  1.21s/it]

NMR data successfully pulled

Start Pulling OCEAN's data:
Pulling OCEAN's Price
Pulling OCEAN's MarketCap
Pulling OCEAN's TransactionCount
Pulling OCEAN's ActiveAddress

 61%|██████    | 73/120 [01:30<00:54,  1.15s/it]

OCEAN data successfully pulled

Start Pulling OKB's data:
Pulling OKB's Price
Pulling OKB's MarketCap
Pulling OKB's TransactionCount
Pulling OKB's ActiveAddress

 62%|██████▏   | 74/120 [01:31<00:53,  1.16s/it]

OKB data successfully pulled

Start Pulling OMG's data:
Pulling OMG's Price
Pulling OMG's MarketCap
Pulling OMG's TransactionCount
Pulling OMG's ActiveAddress

 62%|██████▎   | 75/120 [01:33<00:52,  1.18s/it]

OMG data successfully pulled

Start Pulling PAY's data:
Pulling PAY's Price
Pulling PAY's MarketCap
Pulling PAY's TransactionCount
Pulling PAY's ActiveAddress

 63%|██████▎   | 76/120 [01:34<00:51,  1.17s/it]

PAY data successfully pulled

Start Pulling PERP's data:
Pulling PERP's Price
Pulling PERP's MarketCap
Pulling PERP's TransactionCount
Pulling PERP's ActiveAddress

 64%|██████▍   | 77/120 [01:35<00:48,  1.13s/it]

PERP data successfully pulled

Start Pulling PICKLE's data:
Pulling PICKLE's Price
Pulling PICKLE's MarketCap
Pulling PICKLE's TransactionCount
Pulling PICKLE's ActiveAddress

 65%|██████▌   | 78/120 [01:36<00:46,  1.10s/it]

PICKLE data successfully pulled

Start Pulling PNK's data:
Pulling PNK's Price
Pulling PNK's MarketCap
Pulling PNK's TransactionCount
Pulling PNK's ActiveAddress

 66%|██████▌   | 79/120 [01:37<00:50,  1.24s/it]

PNK data successfully pulled

Start Pulling PNT's data:
Pulling PNT's Price
Pulling PNT's MarketCap
Pulling PNT's TransactionCount
Pulling PNT's ActiveAddress

 67%|██████▋   | 80/120 [01:38<00:46,  1.17s/it]

PNT data successfully pulled

Start Pulling POLY's data:
Pulling POLY's Price
Pulling POLY's MarketCap
Pulling POLY's TransactionCount
Pulling POLY's ActiveAddress

 68%|██████▊   | 81/120 [01:40<00:45,  1.17s/it]

POLY data successfully pulled

Start Pulling POWR's data:
Pulling POWR's Price
Pulling POWR's MarketCap
Pulling POWR's TransactionCount
Pulling POWR's ActiveAddress

 68%|██████▊   | 82/120 [01:41<00:44,  1.17s/it]

POWR data successfully pulled

Start Pulling PPT's data:
Pulling PPT's Price
Pulling PPT's MarketCap
Pulling PPT's TransactionCount
Pulling PPT's ActiveAddress

 69%|██████▉   | 83/120 [01:42<00:43,  1.16s/it]

PPT data successfully pulled

Start Pulling QASH's data:
Pulling QASH's Price
Pulling QASH's MarketCap
Pulling QASH's TransactionCount
Pulling QASH's ActiveAddress

 70%|███████   | 84/120 [01:43<00:43,  1.21s/it]

QASH data successfully pulled

Start Pulling QKC's data:
Pulling QKC's Price
Pulling QKC's MarketCap
Pulling QKC's TransactionCount
Pulling QKC's ActiveAddress

 71%|███████   | 85/120 [01:44<00:41,  1.18s/it]

QKC data successfully pulled

Start Pulling QNT's data:
Pulling QNT's Price
Pulling QNT's MarketCap
Pulling QNT's TransactionCount
Pulling QNT's ActiveAddress

 72%|███████▏  | 86/120 [01:45<00:39,  1.15s/it]

QNT data successfully pulled

Start Pulling RDN's data:
Pulling RDN's Price
Pulling RDN's MarketCap
Pulling RDN's TransactionCount
Pulling RDN's ActiveAddress

 72%|███████▎  | 87/120 [01:47<00:37,  1.14s/it]

RDN data successfully pulled

Start Pulling REN's data:
Pulling REN's Price
Pulling REN's MarketCap
Pulling REN's TransactionCount
Pulling REN's ActiveAddress

 73%|███████▎  | 88/120 [01:48<00:35,  1.11s/it]

REN data successfully pulled

Start Pulling REP's data:
Pulling REP's Price
Pulling REP's MarketCap
Pulling REP's TransactionCount
Pulling REP's ActiveAddress

 74%|███████▍  | 89/120 [01:49<00:34,  1.12s/it]

REP data successfully pulled

Start Pulling RLC's data:
Pulling RLC's Price
Pulling RLC's MarketCap
Pulling RLC's TransactionCount
Pulling RLC's ActiveAddress

 75%|███████▌  | 90/120 [01:50<00:34,  1.16s/it]

RLC data successfully pulled

Start Pulling ROOK's data:
Pulling ROOK's Price
Pulling ROOK's MarketCap
Pulling ROOK's TransactionCount
Pulling ROOK's ActiveAddress

 76%|███████▌  | 91/120 [01:52<00:37,  1.29s/it]

ROOK data successfully pulled

Start Pulling RPL's data:
Pulling RPL's Price
Pulling RPL's MarketCap
Pulling RPL's TransactionCount
Pulling RPL's ActiveAddress

 77%|███████▋  | 92/120 [01:53<00:34,  1.23s/it]

RPL data successfully pulled

Start Pulling RSR's data:
Pulling RSR's Price
Pulling RSR's MarketCap
Pulling RSR's TransactionCount
Pulling RSR's ActiveAddress

 78%|███████▊  | 93/120 [01:54<00:33,  1.23s/it]

RSR data successfully pulled

Start Pulling SAI's data:
Pulling SAI's Price
Pulling SAI's MarketCap
Pulling SAI's TransactionCount
Pulling SAI's ActiveAddress

 78%|███████▊  | 94/120 [01:55<00:30,  1.17s/it]

SAI data successfully pulled

Start Pulling SAN's data:
Pulling SAN's Price
Pulling SAN's MarketCap
Pulling SAN's TransactionCount
Pulling SAN's ActiveAddress

 79%|███████▉  | 95/120 [01:56<00:29,  1.17s/it]

SAN data successfully pulled

Start Pulling SNT's data:
Pulling SNT's Price
Pulling SNT's MarketCap
Pulling SNT's TransactionCount
Pulling SNT's ActiveAddress

 80%|████████  | 96/120 [01:57<00:27,  1.16s/it]

SNT data successfully pulled

Start Pulling SNX's data:
Pulling SNX's Price
Pulling SNX's MarketCap
Pulling SNX's TransactionCount
Pulling SNX's ActiveAddress

 81%|████████  | 97/120 [01:59<00:27,  1.21s/it]

SNX data successfully pulled

Start Pulling STAKE's data:
Pulling STAKE's Price
Pulling STAKE's MarketCap
Pulling STAKE's TransactionCount
Pulling STAKE's ActiveAddress

 82%|████████▏ | 98/120 [02:00<00:25,  1.15s/it]

STAKE data successfully pulled

Start Pulling STORJ's data:
Pulling STORJ's Price
Pulling STORJ's MarketCap
Pulling STORJ's TransactionCount
Pulling STORJ's ActiveAddress

 82%|████████▎ | 99/120 [02:01<00:24,  1.15s/it]

STORJ data successfully pulled

Start Pulling sUSD's data:
Pulling sUSD's Price
Pulling sUSD's MarketCap
Pulling sUSD's TransactionCount
Pulling sUSD's ActiveAddress

 83%|████████▎ | 100/120 [02:02<00:22,  1.13s/it]

sUSD data successfully pulled

Start Pulling SUSHI's data:
Pulling SUSHI's Price
Pulling SUSHI's MarketCap
Pulling SUSHI's TransactionCount
Pulling SUSHI's ActiveAddress

 84%|████████▍ | 101/120 [02:03<00:23,  1.24s/it]

SUSHI data successfully pulled

Start Pulling TEL's data:
Pulling TEL's Price
Pulling TEL's MarketCap
Pulling TEL's TransactionCount
Pulling TEL's ActiveAddress

 85%|████████▌ | 102/120 [02:04<00:21,  1.21s/it]

TEL data successfully pulled

Start Pulling TOP's data:
Pulling TOP's Price
Pulling TOP's MarketCap
Pulling TOP's TransactionCount
Pulling TOP's ActiveAddress

 86%|████████▌ | 103/120 [02:06<00:19,  1.17s/it]

TOP data successfully pulled

Start Pulling UBT's data:
Pulling UBT's Price
Pulling UBT's MarketCap
Pulling UBT's TransactionCount
Pulling UBT's ActiveAddress

 87%|████████▋ | 104/120 [02:07<00:20,  1.27s/it]

UBT data successfully pulled

Start Pulling UMA's data:
Pulling UMA's Price
Pulling UMA's MarketCap
Pulling UMA's TransactionCount
Pulling UMA's ActiveAddress

 88%|████████▊ | 105/120 [02:08<00:18,  1.22s/it]

UMA data successfully pulled

Start Pulling UNI's data:
Pulling UNI's Price
Pulling UNI's MarketCap
Pulling UNI's TransactionCount
Pulling UNI's ActiveAddress

 88%|████████▊ | 106/120 [02:09<00:16,  1.16s/it]

UNI data successfully pulled

Start Pulling USDC's data:
Pulling USDC's Price
Pulling USDC's MarketCap
Pulling USDC's TransactionCount
Pulling USDC's ActiveAddress

 89%|████████▉ | 107/120 [02:10<00:14,  1.14s/it]

USDC data successfully pulled

Start Pulling USDK's data:
Pulling USDK's Price
Pulling USDK's MarketCap
Pulling USDK's TransactionCount
Pulling USDK's ActiveAddress

 90%|█████████ | 108/120 [02:11<00:13,  1.09s/it]

USDK data successfully pulled

Start Pulling USDP's data:
Pulling USDP's Price
Pulling USDP's MarketCap
Pulling USDP's TransactionCount
Pulling USDP's ActiveAddress

 91%|█████████ | 109/120 [02:12<00:12,  1.10s/it]

USDP data successfully pulled

Start Pulling USDT's data:
Pulling USDT's Price
Pulling USDT's MarketCap
Pulling USDT's TransactionCount
Pulling USDT's ActiveAddress

 92%|█████████▏| 110/120 [02:13<00:11,  1.10s/it]

USDT data successfully pulled

Start Pulling UTK's data:
Pulling UTK's Price
Pulling UTK's MarketCap
Pulling UTK's TransactionCount
Pulling UTK's ActiveAddress

 92%|█████████▎| 111/120 [02:15<00:09,  1.10s/it]

UTK data successfully pulled

Start Pulling VERI's data:
Pulling VERI's Price
Pulling VERI's MarketCap
Pulling VERI's TransactionCount
Pulling VERI's ActiveAddress

 93%|█████████▎| 112/120 [02:16<00:08,  1.10s/it]

VERI data successfully pulled

Start Pulling WaBi's data:
Pulling WaBi's Price
Pulling WaBi's MarketCap
Pulling WaBi's TransactionCount
Pulling WaBi's ActiveAddress

 94%|█████████▍| 113/120 [02:17<00:07,  1.13s/it]

WaBi data successfully pulled

Start Pulling WAX's data:
Pulling WAX's Price
Pulling WAX's MarketCap
Pulling WAX's TransactionCount
Pulling WAX's ActiveAddress

 95%|█████████▌| 114/120 [02:18<00:06,  1.11s/it]

WAX data successfully pulled

Start Pulling WBTC's data:
Pulling WBTC's Price
Pulling WBTC's MarketCap
Pulling WBTC's TransactionCount
Pulling WBTC's ActiveAddress

 96%|█████████▌| 115/120 [02:19<00:05,  1.11s/it]

WBTC data successfully pulled

Start Pulling wNXM's data:
Pulling wNXM's Price
Pulling wNXM's MarketCap
Pulling wNXM's TransactionCount
Pulling wNXM's ActiveAddress

 97%|█████████▋| 116/120 [02:20<00:04,  1.07s/it]

wNXM data successfully pulled

Start Pulling WTC's data:
Pulling WTC's Price
Pulling WTC's MarketCap
Pulling WTC's TransactionCount
Pulling WTC's ActiveAddress

 98%|█████████▊| 117/120 [02:21<00:03,  1.10s/it]

WTC data successfully pulled

Start Pulling YAM's data:
Pulling YAM's Price
Pulling YAM's MarketCap
Pulling YAM's TransactionCount
Pulling YAM's ActiveAddress

 98%|█████████▊| 118/120 [02:22<00:02,  1.06s/it]

YAM data successfully pulled

Start Pulling YFI's data:
Pulling YFI's Price
Pulling YFI's MarketCap
Pulling YFI's TransactionCount
Pulling YFI's ActiveAddress

 99%|█████████▉| 119/120 [02:23<00:01,  1.05s/it]

YFI data successfully pulled

Start Pulling ZRX's data:
Pulling ZRX's Price
Pulling ZRX's MarketCap
Pulling ZRX's TransactionCount
Pulling ZRX's ActiveAddress

100%|██████████| 120/120 [02:24<00:00,  1.21s/it]

ZRX data successfully pulled

All Frames Merged

ALL DATA SUCCESSFULLY PULLED!

In [25]:
# Add Return to largeCapSample_raw
largeCapSample = AddReturn(largeCapSample_raw)
largeCapSample

,Date,Price,MarketCap,TransactionCount,ActiveAddress,RiskFree,Asset,Return
0,2021-05-03,459.310213,5.735887e+09,0.0,9738.0,0.0002,AAVE,-0.049263
1,2021-05-10,525.296787,6.648981e+09,0.0,10036.0,0.0002,AAVE,0.143665
2,2021-05-17,296.307038,3.779533e+09,0.0,12152.0,0.0000,AAVE,-0.435925
3,2021-05-24,324.282384,4.141262e+09,0.0,11055.0,0.0001,AAVE,0.094413
4,2021-05-31,365.167460,4.669538e+09,0.0,7849.0,NaN,AAVE,0.126079
...,...,...,...,...,...,...,...,...
6235,2022-03-28,34.426101,5.773133e+07,0.0,90.0,0.0019,wNXM,0.077775
6236,2022-04-04,33.251072,5.576085e+07,0.0,195.0,0.0018,wNXM,-0.034132
6237,2022-04-11,27.854533,4.671105e+07,0.0,255.0,0.0022,wNXM,-0.162297
6238,2022-04-18,28.499363,4.779241e+07,0.0,191.0,0.0038,wNXM,0.023150
6239,2022-04-25,26.325165,NaN,NaN,NaN,0.0040,wNXM,-0.076289

### Reshape Dataframe

In [138]:
# Get Return DataFrame
returnAll = largeCapSample.loc[:,['Date', 'Return', 'Asset']].pivot(index="Date", columns=["Asset"], values='Return').reset_index().rename_axis(None, axis=1).sort_values('Date')
returnAll.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-05-03,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
2,2021-05-10,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
3,2021-05-17,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
4,2021-05-24,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871

In [139]:
priceAll = largeCapSample.loc[:,['Date', 'Price', 'Asset']].pivot(index="Date", columns=["Asset"], values='Price').reset_index().rename_axis(None, axis=1).sort_values('Date')
priceAll.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-04-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-05-03,459.310213,0.228918,1.190291,10.185312,1.136358,35.192097,66.211436,17.652240,1.414453,...,24.769653,NaN,58296.148718,1.963506,0.599371,1.980944,53279.650539,1.955483,1.026809,117.702644
2,2021-05-10,525.296787,0.189665,0.854800,7.695547,0.768935,26.170739,54.122365,14.034590,1.139028,...,26.309891,NaN,46370.827072,1.641239,0.408041,2.109437,65759.108989,1.572884,1.019278,99.996818
3,2021-05-17,296.307038,0.098163,0.549472,3.380071,0.417567,10.523989,25.810436,6.810641,0.564851,...,14.539290,NaN,34975.530687,0.667486,0.182926,1.302382,32922.121717,0.807320,0.999703,58.923315
4,2021-05-24,324.282384,0.135402,0.804883,4.151059,0.460737,11.759670,27.612201,7.390893,0.703204,...,17.283173,NaN,35641.705527,0.804181,0.221759,0.938102,41882.102419,0.937811,1.005210,73.175135

### Calculate Momentum Matrix(Cumulative 2 week Return)

In [140]:
### Define a Method to Transform Price Matrix to MOM Matrix

def getMomMatrix(priceAll):
    # Initialization
    from tqdm import tqdm
    momMatrix = priceAll.copy()
    
    # Iterate Through priceAll 
    for i in tqdm(range(0, priceAll.shape[0]-2)):
        for j in range(1, priceAll.shape[1]):
            momMatrix.iloc[i+2, j] = (priceAll.iloc[i+2, j] - priceAll.iloc[i,j]) / priceAll.iloc[i,j]
    return momMatrix.drop(momMatrix.head(2).index).reset_index().drop('index',
                                                                      axis=1)

# Effect:
momMatrix = getMomMatrix(priceAll)
momMatrix.head()

100%|██████████| 51/51 [00:02<00:00, 22.38it/s]

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-05-17,-0.354887,-0.571186,-0.538372,-0.668143,-0.632540,-0.700956,-0.610182,-0.614177,-0.600658,...,-0.413020,NaN,-0.400037,-0.660054,-0.694803,-0.342545,-0.382088,-0.587151,-0.026398,-0.499388
2,2021-05-24,-0.382668,-0.286097,-0.058396,-0.460589,-0.400811,-0.550656,-0.489819,-0.473380,-0.382628,...,-0.343092,NaN,-0.231377,-0.510016,-0.456527,-0.555283,-0.363098,-0.403763,-0.013801,-0.268225
3,2021-05-31,0.232395,0.324998,0.577449,0.652091,0.058700,0.455930,0.128310,0.183153,0.347782,...,0.243890,NaN,0.024712,0.174587,0.321486,-0.207288,0.307871,0.311204,0.006451,0.307454
4,2021-06-07,-0.024113,-0.079155,0.106285,0.062860,-0.246951,0.113917,-0.135518,-0.058087,-0.081645,...,0.827227,NaN,0.088765,-0.083618,-0.012386,0.051829,-0.080879,-0.047386,0.001049,-0.136481

### Calculate MOM Percentile(30%, 70%)

In [141]:
# Only Select Assets(BTC, ETH...) Columns
col = []
for colName in momMatrix.columns:
     if colName not in ['Date','MOM30p','MOM70p']:
         col.append(colName)
momMatrix[col].head()

,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,BIX,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,-0.354887,-0.571186,-0.538372,-0.668143,-0.632540,-0.700956,-0.610182,-0.614177,-0.600658,-0.574095,...,-0.413020,NaN,-0.400037,-0.660054,-0.694803,-0.342545,-0.382088,-0.587151,-0.026398,-0.499388
2,-0.382668,-0.286097,-0.058396,-0.460589,-0.400811,-0.550656,-0.489819,-0.473380,-0.382628,-0.504048,...,-0.343092,NaN,-0.231377,-0.510016,-0.456527,-0.555283,-0.363098,-0.403763,-0.013801,-0.268225
3,0.232395,0.324998,0.577449,0.652091,0.058700,0.455930,0.128310,0.183153,0.347782,0.219793,...,0.243890,NaN,0.024712,0.174587,0.321486,-0.207288,0.307871,0.311204,0.006451,0.307454
4,-0.024113,-0.079155,0.106285,0.062860,-0.246951,0.113917,-0.135518,-0.058087,-0.081645,0.011821,...,0.827227,NaN,0.088765,-0.083618,-0.012386,0.051829,-0.080879,-0.047386,0.001049,-0.136481

In [142]:
# 30% pencentile example
momMatrix[col].quantile(.3, axis=1).head()

0   -0.382874
1   -0.606894
2   -0.411377
3    0.149268
4   -0.084378
Name: 0.3, dtype: float64

In [143]:
momMatrix['MOM30p']=momMatrix[col].quantile(.3, axis=1)
momMatrix['MOM70p']=momMatrix[col].quantile(.7, axis=1)
momMatrix.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM,MOM30p,MOM70p
0,2021-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.382874,-0.382874
1,2021-05-17,-0.354887,-0.571186,-0.538372,-0.668143,-0.632540,-0.700956,-0.610182,-0.614177,-0.600658,...,-0.400037,-0.660054,-0.694803,-0.342545,-0.382088,-0.587151,-0.026398,-0.499388,-0.606894,-0.460275
2,2021-05-24,-0.382668,-0.286097,-0.058396,-0.460589,-0.400811,-0.550656,-0.489819,-0.473380,-0.382628,...,-0.231377,-0.510016,-0.456527,-0.555283,-0.363098,-0.403763,-0.013801,-0.268225,-0.411377,-0.277419
3,2021-05-31,0.232395,0.324998,0.577449,0.652091,0.058700,0.455930,0.128310,0.183153,0.347782,...,0.024712,0.174587,0.321486,-0.207288,0.307871,0.311204,0.006451,0.307454,0.149268,0.346496
4,2021-06-07,-0.024113,-0.079155,0.106285,0.062860,-0.246951,0.113917,-0.135518,-0.058087,-0.081645,...,0.088765,-0.083618,-0.012386,0.051829,-0.080879,-0.047386,0.001049,-0.136481,-0.084378,0.028558

In [144]:
# Reshape for Later Use
momPt = momMatrix[['MOM30p','MOM70p']]
momMatrix = momMatrix.drop(['MOM30p','MOM70p'], axis=1)

In [145]:
momPt.head()

     MOM30p    MOM70p
0 -0.382874 -0.382874
1 -0.606894 -0.460275
2 -0.411377 -0.277419
3  0.149268  0.346496
4 -0.084378  0.028558

### Calculate Momentum portfolio returns

In [146]:
# Delete the First 2 Rows of returnAll to Match the momMatrix Date
returnAll = returnAll.drop(returnAll.head(2).index).reset_index().drop('index', axis=1)
returnAll.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-05-10,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
1,2021-05-17,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
2,2021-05-24,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871
3,2021-05-31,0.126079,-0.039411,0.076882,0.345243,-0.040499,0.302944,0.054685,0.090265,0.082609,...,0.046409,NaN,0.005559,-0.025069,0.090076,0.100535,0.028074,0.128756,0.000937,0.052810
4,2021-06-07,-0.133376,-0.041374,0.027304,-0.209913,-0.215166,-0.145077,-0.180341,-0.136070,-0.151720,...,0.746187,NaN,0.082746,-0.060055,-0.093995,-0.044256,-0.105978,-0.156050,0.000112,-0.179796

In [151]:
def LMH_MOM(momMatrix, returnAll, priceAll):
    from tqdm import tqdm
    # Initialize DataFrames for Low, Medium and High MOM
    lowMom = pd.DataFrame(columns = ['Date',
                                     'LowMomentum'])
    lowMom['Date'] = momMatrix['Date']

    medMom = pd.DataFrame(columns = ['Date', 
                                     'MedMomentum'])
    medMom['Date'] = momMatrix['Date']

    highMom = pd.DataFrame(columns = ['Date', 
                                      'HighMomentum'])
    highMom['Date'] = momMatrix['Date']

    # Iterate Through Whole DataFrame to Get Low, Medium and High MOM
    # Iterate Though Rows
    for i in tqdm(range(0, momMatrix.shape[0])):

        # Initialization df Used in Method
        lowMomReturnList = []
        medMomReturnList = []
        highMomReturnList = []

        lowMomPriceList = []
        medMomPriceList = []
        highMomPriceList = []

        # Iterate Through Columns
        for j in range(1, momMatrix.shape[1]):
            if momMatrix.iloc[i,j] < momPt.iloc[i,0]:
                lowMomReturnList.append(returnAll.iloc[i,j])
                lowMomPriceList.append(priceAll.iloc[i,j])
            elif (momPt.iloc[i,0] < momMatrix.iloc[i,j]) and (momMatrix.iloc[i,j] < momPt.iloc[i,1]):
                medMomReturnList.append(returnAll.iloc[i,j])
                medMomPriceList.append(priceAll.iloc[i,j])
            elif momMatrix.iloc[i,j] > momPt.iloc[i,1]:
                highMomReturnList.append(returnAll.iloc[i,j])
                highMomPriceList.append(priceAll.iloc[i,j])

        # Low MOM
        lowValueWeightedAvgList = []
        lowMomPriceSum = sum(lowMomPriceList)
        for index in range(0, len(lowMomPriceList)):
            lowValueWeightedAvgList.append((lowMomPriceList[index]/lowMomPriceSum) * lowMomReturnList[index])
        lowMom.iloc[i,1] = sum(lowValueWeightedAvgList)
        
        # Med MOM
        medValueWeightedAvgList = []
        medMomPriceSum = sum(medMomPriceList)
        for index in range(0, len(medMomPriceList)):
            medValueWeightedAvgList.append((medMomPriceList[index]/medMomPriceSum) * medMomReturnList[index])
        medMom.iloc[i,1] = sum(medValueWeightedAvgList)

        # High MOM
        highValueWeightedAvgList = []
        highMomPriceSum = sum(highMomPriceList)
        for index in range(0, len(highMomPriceList)):
            highValueWeightedAvgList.append((highMomPriceList[index]/highMomPriceSum) * highMomReturnList[index])
        highMom.iloc[i,1] = sum(highValueWeightedAvgList)

        # Merge
        from functools import reduce
        momLMH = reduce(lambda  left,right:
                        pd.merge(left,right, 
                                on='Date',
                                how='outer'),
                        [lowMom, medMom, highMom])

    return momLMH

momLMH = LMH_MOM(momMatrix, returnAll, priceAll)

100%|██████████| 51/51 [00:01<00:00, 26.49it/s]

In [152]:
# from functools import reduce
# momLMH = reduce(lambda  left,right:
#                 pd.merge(left,right, 
#                          on='Date',
#                          how='outer'),
#                 [lowMom, medMom, highMom])
momLMH.head()

        Date LowMomentum MedMomentum HighMomentum
0 2021-05-10           0           0            0
1 2021-05-17    -0.58298   -0.410799    -0.326323
2 2021-05-24     0.07534    0.262537     0.030213
3 2021-05-31    0.004954    0.040897     0.278781
4 2021-06-07   -0.172042   -0.107539     0.079781

### Calculate Momentum Factor

In [153]:
momFactor = pd.DataFrame(columns = ['Date', 'MOM_LTW'])
momFactor['Date'] = momMatrix['Date']
momFactor['MOM_LTW'] = momLMH['HighMomentum'] - momLMH['LowMomentum']

momFactor.head(20)

         Date   MOM_LTW
0  2021-05-10         0
1  2021-05-17  0.256657
2  2021-05-24 -0.045127
3  2021-05-31  0.273827
4  2021-06-07  0.251823
5  2021-06-14  0.052093
6  2021-06-21  0.189945
7  2021-06-28  0.177345
8  2021-07-05  0.006033
9  2021-07-12   0.05247
10 2021-07-19  0.042552
11 2021-07-26  0.193738
12 2021-08-02  0.134575
13 2021-08-09  0.209751
14 2021-08-16  0.194383
15 2021-08-23  0.336592
16 2021-08-30   0.15877
17 2021-09-06  0.105451
18 2021-09-13  0.032909
19 2021-09-20  0.088204

In [154]:
momLMH.HighMomentum.mean()

0.0636617749515979