## Fixed Data:

In [2]:
pip install fredapi
import json
import requests
import pandas as pd
from fredapi import Fred

API_KEY = '1vGb0FOsg2hEIGrEhpueLCcWd1Y'
FRED_API_KEY = 'b13a905b98b5dfc1f3910d6a0d875ae3'

rootUrl = 'https://api.glassnode.com'

symbolList = ['BTC', 'ETH', 'LTC', 'AAVE', 'ABT', 'AMPL', 'ANT', 'ARMOR', 'BADGER', 'BAL', 'BAND', 'BAT', 'BIX', 'BNT', 'BOND', 'BRD', 'BUSD', 'BZRX', 'CELR', 'CHSB', 'CND', 'COMP', 'CREAM', 'CRO', 'CRV', 'CVC', 'CVP', 'DAI', 'DDX', 'DENT', 'DGX', 'DHT', 'DMG', 'DODO', 'DOUGH', 'DRGN', 'ELF', 'ENG', 'ENJ', 'EURS', 'FET', 'FTT', 'FUN', 'GNO', 'GUSD', 'HEGIC', 'HOT', 'HPT', 'HT', 'HUSD', 'INDEX', 'KCS', 'LAMB', 'LBA', 'LDO', 'LEO', 'LINK', 'LOOM', 'LRC', 'MANA', 'MATIC',
              'MCB', 'MCO', 'MFT', 'MIR', 'MKR', 'MLN', 'MTA', 'MTL', 'MX', 'NDX', 'NEXO', 'NFTX', 'NMR', 'Nsure', 'OCEAN', 'OKB', 'OMG', 'PAY', 'PERP', 'PICKLE', 'PNK', 'PNT', 'POLY', 'POWR', 'PPT', 'QASH', 'QKC', 'QNT', 'RDN', 'REN', 'REP', 'RLC', 'ROOK', 'RPL', 'RSR', 'SAI', 'SAN', 'SNT', 'SNX', 'STAKE', 'STORJ', 'sUSD', 'SUSHI', 'TEL', 'TOP', 'UBT', 'UMA', 'UNI', 'USDC', 'USDK', 'USDP', 'USDT', 'UTK', 'VERI', 'WaBi', 'WAX', 'WBTC', 'WETH', 'wNXM', 'WTC', 'YAM', 'YFI', 'ZRX']

symbolListShort = ['BTC', 'ETH', 'LTC']

endPoints = {
    'Price': '/v1/metrics/market/price_usd_close',
    'MarketCap': '/v1/metrics/market/marketcap_usd',
    'TransactionCount': '/v1/metrics/transactions/count',
    'ActiveAddress': '/v1/metrics/addresses/active_count',
}

### <font color='red'> It seems the risk-free rate is daily rate. is it in percentage or in unit 1? need to adjust to weekly rate and select Monday

In [134]:
fred = Fred(api_key=FRED_API_KEY)
Risk_free_rate = fred.get_series('DGS1MO').to_frame().reset_index().rename(columns={'index':'Date', 0:'RiskFree'})

## Get Multiple Attributes for Multiple Coins:

In [82]:
### Define a Method to Pull Data According to Input Prameter(coin, feature)

def PullData(coin, feature):
    print(f"Pulling {coin}'s {feature}")

    # Assemble full request url and get responses:
    reqUrl = rootUrl + endPoints[feature]
    res = requests.get(reqUrl,
                       params={'a': coin, 'api_key': API_KEY, 'i':'1w'})
    data_raw = pd.read_json(res.text, convert_dates=['t'])

    # Rename column "v" according to features
    data = data_raw.rename(columns={"v" : f"{feature}", 't':'Date'})

    # Return a dataframe
    return data

In [136]:
# Effect:

PullData('BTC', 'Price').head()

Pulling BTC's Price

        Date    Price
0 2010-07-12  0.08584
1 2010-07-19  0.05050
2 2010-07-26  0.06110
3 2010-08-02  0.06090
4 2010-08-09  0.06529

In [98]:
### Define a Method to Get Features(Listed in "endPoints"(Constant)) of Coins(Listed in "coinList"(Method Prameter)) 

def PullStart(coinList):

    # Initialization
    from functools import reduce

    colName = ["Date"]
    for key, value in endPoints.items():
        colName.append(key) 
    fullFrame = pd.DataFrame(columns = colName.append("Asset"))

    # Data Pull
    for i in coinList:
        print(f"Start Pulling {i}'s data:")

        # Preparation for merging
        frameName = f"{i}_Frames"
        locals()[frameName] = []

        # Get data
        for j in list(endPoints.keys()):
            locals()[frameName].append(PullData(i, j))

        # Merge 2-column dataframes to a single dataframe
        dfName = f"{i}_All"
        # Outer Merge to Ensure Not Missing Any Values.
        locals()[dfName] = reduce(lambda left, right: pd.merge(left,right, on='Date', how='outer'), locals()[frameName]) 
        locals()[dfName]['Asset'] = i
        locals()[dfName] = locals()[dfName]
        
        # Left Merge Fred to ensure all the records in api stored.
        locals()[dfName] = locals()[dfName].merge(Risk_free_rate, how = 'left').sort_values(by=['Date'])

        # Merge All Coins into a single Dataframe
        fullFrame = fullFrame.append(locals()[dfName], ignore_index=True)

        print(f"{i} data successfully pulled\n")
    print('\nAll Frames Merged')
    print('\nALL DATA SUCCESSFULLY PULLED!')

    return fullFrame

In [99]:
# Effect:

df = PullStart(symbolListShort)
df

Start Pulling BTC's data:
Pulling BTC's Price
Pulling BTC's MarketCap
Pulling BTC's TransactionCount
Pulling BTC's ActiveAddress
BTC data successfully pulled

Start Pulling ETH's data:
Pulling ETH's Price
Pulling ETH's MarketCap
Pulling ETH's TransactionCount
Pulling ETH's ActiveAddress
ETH data successfully pulled

Start Pulling LTC's data:
Pulling LTC's Price
Pulling LTC's MarketCap
Pulling LTC's TransactionCount
Pulling LTC's ActiveAddress
LTC data successfully pulled


All Frames Merged

ALL DATA SUCCESSFULLY PULLED!

,Date,Price,MarketCap,TransactionCount,ActiveAddress,Asset,RiskFree
0,2008-12-29,NaN,NaN,NaN,0,BTC,0.04
1,2009-01-05,NaN,NaN,NaN,0,BTC,0.05
2,2009-01-12,NaN,NaN,19.0,34,BTC,0.04
3,2009-01-19,NaN,NaN,9.0,63,BTC,NaN
4,2009-01-26,NaN,NaN,5.0,61,BTC,0.02
...,...,...,...,...,...,...,...
1592,2022-03-21,129.241438,9.039261e+09,748866.0,1514571,LTC,0.22
1593,2022-03-28,128.926292,9.023978e+09,807733.0,1566202,LTC,0.19
1594,2022-04-04,111.343007,7.798857e+09,841901.0,1576883,LTC,0.18
1595,2022-04-11,109.018201,7.641529e+09,832321.0,1652475,LTC,0.22
1596,2022-04-18,104.648982,7.340578e+09,830602.0,1562294,LTC,0.38

## <font color='red'> Imputation for NA values -- to be resolved

## Calculate Returns

In [133]:
### Define a Method to Add Return Column()
def AddReturn(sample):
    fullFrame = pd.DataFrame(columns = list(sample.columns).append('Return'))
    for index in sample.groupby('Asset').count().index.values.tolist():
        syntax = f"Asset == '{index}'"
        sagment = sample.query(syntax)
        # Only Select 53 Weeks for Test
        temp = sagment[-53:-1].reset_index().drop('index', axis=1)
        sagment = sagment[-52:].reset_index().drop('index', axis=1)
        sagment['Return'] = (sagment['Price'] - temp['Price'])/temp['Price']
        fullFrame = fullFrame.append(sagment, ignore_index=True)
    return fullFrame

In [132]:
# Effect:

AddReturn(df)

,Date,Price,MarketCap,TransactionCount,ActiveAddress,Asset,RiskFree,Return
0,2021-04-26,56613.202648,1.058532e+12,1861992.0,5778871,BTC,0.02,0.154432
1,2021-05-03,58218.566077,1.088991e+12,2038316.0,6622607,BTC,0.02,0.028357
2,2021-05-10,46406.331544,8.683518e+11,1908851.0,6062366,BTC,0.02,-0.202895
3,2021-05-17,34888.678313,6.530094e+11,1607054.0,4960283,BTC,0.00,-0.248191
4,2021-05-24,35639.981455,6.672647e+11,1508758.0,4981835,BTC,0.01,0.021534
...,...,...,...,...,...,...,...,...
151,2022-03-21,129.241438,9.039261e+09,748866.0,1514571,LTC,0.22,0.125519
152,2022-03-28,128.926292,9.023978e+09,807733.0,1566202,LTC,0.19,-0.002438
153,2022-04-04,111.343007,7.798857e+09,841901.0,1576883,LTC,0.18,-0.136382
154,2022-04-11,109.018201,7.641529e+09,832321.0,1652475,LTC,0.22,-0.020880
155,2022-04-18,104.648982,7.340578e+09,830602.0,1562294,LTC,0.38,-0.040078

## MOM Factor

### Get LargeCap Sample(maket cap > 10000)

In [112]:
# Get LargeCoin List

largeList = []
print('Finding All Coins with More Than 1m Cap......')
for i in symbolList:
    if pd.read_json(requests.get(rootUrl + endPoints['MarketCap'], params={'a': i, 'api_key': API_KEY, 'i':'1w'}).text, convert_dates=['t']).iloc[-1,1] > 1000000:
        largeList.append(i)
print("Done!")

Finding All Coins with More Than 1m Cap......
Done!

In [116]:
# Get largeCapSample_raw Data(Without Return)

largeCapSample_raw = PullStart(largeList)

Start Pulling BTC's data:
Pulling BTC's Price
Pulling BTC's MarketCap
Pulling BTC's TransactionCount
Pulling BTC's ActiveAddress
BTC data successfully pulled

Start Pulling ETH's data:
Pulling ETH's Price
Pulling ETH's MarketCap
Pulling ETH's TransactionCount
Pulling ETH's ActiveAddress
ETH data successfully pulled

Start Pulling LTC's data:
Pulling LTC's Price
Pulling LTC's MarketCap
Pulling LTC's TransactionCount
Pulling LTC's ActiveAddress
LTC data successfully pulled

Start Pulling AAVE's data:
Pulling AAVE's Price
Pulling AAVE's MarketCap
Pulling AAVE's TransactionCount
Pulling AAVE's ActiveAddress
AAVE data successfully pulled

Start Pulling ABT's data:
Pulling ABT's Price
Pulling ABT's MarketCap
Pulling ABT's TransactionCount
Pulling ABT's ActiveAddress
ABT data successfully pulled

Start Pulling AMPL's data:
Pulling AMPL's Price
Pulling AMPL's MarketCap
Pulling AMPL's TransactionCount
Pulling AMPL's ActiveAddress
AMPL data successfully pulled

Start Pulling ANT's data:
Pulling ANT's Price
Pulling ANT's MarketCap
Pulling ANT's TransactionCount
Pulling ANT's ActiveAddress
ANT data successfully pulled

Start Pulling ARMOR's data:
Pulling ARMOR's Price
Pulling ARMOR's MarketCap
Pulling ARMOR's TransactionCount
Pulling ARMOR's ActiveAddress
ARMOR data successfully pulled

Start Pulling BADGER's data:
Pulling BADGER's Price
Pulling BADGER's MarketCap
Pulling BADGER's TransactionCount
Pulling BADGER's ActiveAddress
BADGER data successfully pulled

Start Pulling BAL's data:
Pulling BAL's Price
Pulling BAL's MarketCap
Pulling BAL's TransactionCount
Pulling BAL's ActiveAddress
BAL data successfully pulled

Start Pulling BAND's data:
Pulling BAND's Price
Pulling BAND's MarketCap
Pulling BAND's TransactionCount
Pulling BAND's ActiveAddress
BAND data successfully pulled

Start Pulling BAT's data:
Pulling BAT's Price
Pulling BAT's MarketCap
Pulling BAT's TransactionCount
Pulling BAT's ActiveAddress
BAT data successfully pulled

Start Pulling BIX's data:
Pulling BIX's Price
Pulling BIX's MarketCap
Pulling BIX's TransactionCount
Pulling BIX's ActiveAddress
BIX data successfully pulled

Start Pulling BNT's data:
Pulling BNT's Price
Pulling BNT's MarketCap
Pulling BNT's TransactionCount
Pulling BNT's ActiveAddress
BNT data successfully pulled

Start Pulling BOND's data:
Pulling BOND's Price
Pulling BOND's MarketCap
Pulling BOND's TransactionCount
Pulling BOND's ActiveAddress
BOND data successfully pulled

Start Pulling BRD's data:
Pulling BRD's Price
Pulling BRD's MarketCap
Pulling BRD's TransactionCount
Pulling BRD's ActiveAddress
BRD data successfully pulled

Start Pulling BUSD's data:
Pulling BUSD's Price
Pulling BUSD's MarketCap
Pulling BUSD's TransactionCount
Pulling BUSD's ActiveAddress
BUSD data successfully pulled

Start Pulling BZRX's data:
Pulling BZRX's Price
Pulling BZRX's MarketCap
Pulling BZRX's TransactionCount
Pulling BZRX's ActiveAddress
BZRX data successfully pulled

Start Pulling CELR's data:
Pulling CELR's Price
Pulling CELR's MarketCap
Pulling CELR's TransactionCount
Pulling CELR's ActiveAddress
CELR data successfully pulled

Start Pulling CHSB's data:
Pulling CHSB's Price
Pulling CHSB's MarketCap
Pulling CHSB's TransactionCount
Pulling CHSB's ActiveAddress
CHSB data successfully pulled

Start Pulling CND's data:
Pulling CND's Price
Pulling CND's MarketCap
Pulling CND's TransactionCount
Pulling CND's ActiveAddress
CND data successfully pulled

Start Pulling COMP's data:
Pulling COMP's Price
Pulling COMP's MarketCap
Pulling COMP's TransactionCount
Pulling COMP's ActiveAddress
COMP data successfully pulled

Start Pulling CREAM's data:
Pulling CREAM's Price
Pulling CREAM's MarketCap
Pulling CREAM's TransactionCount
Pulling CREAM's ActiveAddress
CREAM data successfully pulled

Start Pulling CRO's data:
Pulling CRO's Price
Pulling CRO's MarketCap
Pulling CRO's TransactionCount
Pulling CRO's ActiveAddress
CRO data successfully pulled

Start Pulling CRV's data:
Pulling CRV's Price
Pulling CRV's MarketCap
Pulling CRV's TransactionCount
Pulling CRV's ActiveAddress
CRV data successfully pulled

Start Pulling CVC's data:
Pulling CVC's Price
Pulling CVC's MarketCap
Pulling CVC's TransactionCount
Pulling CVC's ActiveAddress
CVC data successfully pulled

Start Pulling CVP's data:
Pulling CVP's Price
Pulling CVP's MarketCap
Pulling CVP's TransactionCount
Pulling CVP's ActiveAddress
CVP data successfully pulled

Start Pulling DAI's data:
Pulling DAI's Price
Pulling DAI's MarketCap
Pulling DAI's TransactionCount
Pulling DAI's ActiveAddress
DAI data successfully pulled

Start Pulling DDX's data:
Pulling DDX's Price
Pulling DDX's MarketCap
Pulling DDX's TransactionCount
Pulling DDX's ActiveAddress
DDX data successfully pulled

Start Pulling DENT's data:
Pulling DENT's Price
Pulling DENT's MarketCap
Pulling DENT's TransactionCount
Pulling DENT's ActiveAddress
DENT data successfully pulled

Start Pulling DGX's data:
Pulling DGX's Price
Pulling DGX's MarketCap
Pulling DGX's TransactionCount
Pulling DGX's ActiveAddress
DGX data successfully pulled

Start Pulling DHT's data:
Pulling DHT's Price
Pulling DHT's MarketCap
Pulling DHT's TransactionCount
Pulling DHT's ActiveAddress
DHT data successfully pulled

Start Pulling DMG's data:
Pulling DMG's Price
Pulling DMG's MarketCap
Pulling DMG's TransactionCount
Pulling DMG's ActiveAddress
DMG data successfully pulled

Start Pulling DODO's data:
Pulling DODO's Price
Pulling DODO's MarketCap
Pulling DODO's TransactionCount
Pulling DODO's ActiveAddress
DODO data successfully pulled

Start Pulling DOUGH's data:
Pulling DOUGH's Price
Pulling DOUGH's MarketCap
Pulling DOUGH's TransactionCount
Pulling DOUGH's ActiveAddress
DOUGH data successfully pulled

Start Pulling DRGN's data:
Pulling DRGN's Price
Pulling DRGN's MarketCap
Pulling DRGN's TransactionCount
Pulling DRGN's ActiveAddress
DRGN data successfully pulled

Start Pulling ELF's data:
Pulling ELF's Price
Pulling ELF's MarketCap
Pulling ELF's TransactionCount
Pulling ELF's ActiveAddress
ELF data successfully pulled

Start Pulling ENJ's data:
Pulling ENJ's Price
Pulling ENJ's MarketCap
Pulling ENJ's TransactionCount
Pulling ENJ's ActiveAddress
ENJ data successfully pulled

Start Pulling EURS's data:
Pulling EURS's Price
Pulling EURS's MarketCap
Pulling EURS's TransactionCount
Pulling EURS's ActiveAddress
EURS data successfully pulled

Start Pulling FET's data:
Pulling FET's Price
Pulling FET's MarketCap
Pulling FET's TransactionCount
Pulling FET's ActiveAddress
FET data successfully pulled

Start Pulling FTT's data:
Pulling FTT's Price
Pulling FTT's MarketCap
Pulling FTT's TransactionCount
Pulling FTT's ActiveAddress
FTT data successfully pulled

Start Pulling FUN's data:
Pulling FUN's Price
Pulling FUN's MarketCap
Pulling FUN's TransactionCount
Pulling FUN's ActiveAddress
FUN data successfully pulled

Start Pulling GNO's data:
Pulling GNO's Price
Pulling GNO's MarketCap
Pulling GNO's TransactionCount
Pulling GNO's ActiveAddress
GNO data successfully pulled

Start Pulling GUSD's data:
Pulling GUSD's Price
Pulling GUSD's MarketCap
Pulling GUSD's TransactionCount
Pulling GUSD's ActiveAddress
GUSD data successfully pulled

Start Pulling HEGIC's data:
Pulling HEGIC's Price
Pulling HEGIC's MarketCap
Pulling HEGIC's TransactionCount
Pulling HEGIC's ActiveAddress
HEGIC data successfully pulled

Start Pulling HOT's data:
Pulling HOT's Price
Pulling HOT's MarketCap
Pulling HOT's TransactionCount
Pulling HOT's ActiveAddress
HOT data successfully pulled

Start Pulling HPT's data:
Pulling HPT's Price
Pulling HPT's MarketCap
Pulling HPT's TransactionCount
Pulling HPT's ActiveAddress
HPT data successfully pulled

Start Pulling HT's data:
Pulling HT's Price
Pulling HT's MarketCap
Pulling HT's TransactionCount
Pulling HT's ActiveAddress
HT data successfully pulled

Start Pulling HUSD's data:
Pulling HUSD's Price
Pulling HUSD's MarketCap
Pulling HUSD's TransactionCount
Pulling HUSD's ActiveAddress
HUSD data successfully pulled

Start Pulling KCS's data:
Pulling KCS's Price
Pulling KCS's MarketCap
Pulling KCS's TransactionCount
Pulling KCS's ActiveAddress
KCS data successfully pulled

Start Pulling LAMB's data:
Pulling LAMB's Price
Pulling LAMB's MarketCap
Pulling LAMB's TransactionCount
Pulling LAMB's ActiveAddress
LAMB data successfully pulled

Start Pulling LBA's data:
Pulling LBA's Price
Pulling LBA's MarketCap
Pulling LBA's TransactionCount
Pulling LBA's ActiveAddress
LBA data successfully pulled

Start Pulling LDO's data:
Pulling LDO's Price
Pulling LDO's MarketCap
Pulling LDO's TransactionCount
Pulling LDO's ActiveAddress
LDO data successfully pulled

Start Pulling LEO's data:
Pulling LEO's Price
Pulling LEO's MarketCap
Pulling LEO's TransactionCount
Pulling LEO's ActiveAddress
LEO data successfully pulled

Start Pulling LINK's data:
Pulling LINK's Price
Pulling LINK's MarketCap
Pulling LINK's TransactionCount
Pulling LINK's ActiveAddress
LINK data successfully pulled

Start Pulling LOOM's data:
Pulling LOOM's Price
Pulling LOOM's MarketCap
Pulling LOOM's TransactionCount
Pulling LOOM's ActiveAddress
LOOM data successfully pulled

Start Pulling LRC's data:
Pulling LRC's Price
Pulling LRC's MarketCap
Pulling LRC's TransactionCount
Pulling LRC's ActiveAddress
LRC data successfully pulled

Start Pulling MANA's data:
Pulling MANA's Price
Pulling MANA's MarketCap
Pulling MANA's TransactionCount
Pulling MANA's ActiveAddress
MANA data successfully pulled

Start Pulling MATIC's data:
Pulling MATIC's Price
Pulling MATIC's MarketCap
Pulling MATIC's TransactionCount
Pulling MATIC's ActiveAddress
MATIC data successfully pulled

Start Pulling MCB's data:
Pulling MCB's Price
Pulling MCB's MarketCap
Pulling MCB's TransactionCount
Pulling MCB's ActiveAddress
MCB data successfully pulled

Start Pulling MCO's data:
Pulling MCO's Price
Pulling MCO's MarketCap
Pulling MCO's TransactionCount
Pulling MCO's ActiveAddress
MCO data successfully pulled

Start Pulling MFT's data:
Pulling MFT's Price
Pulling MFT's MarketCap
Pulling MFT's TransactionCount
Pulling MFT's ActiveAddress
MFT data successfully pulled

Start Pulling MIR's data:
Pulling MIR's Price
Pulling MIR's MarketCap
Pulling MIR's TransactionCount
Pulling MIR's ActiveAddress
MIR data successfully pulled

Start Pulling MKR's data:
Pulling MKR's Price
Pulling MKR's MarketCap
Pulling MKR's TransactionCount
Pulling MKR's ActiveAddress
MKR data successfully pulled

Start Pulling MLN's data:
Pulling MLN's Price
Pulling MLN's MarketCap
Pulling MLN's TransactionCount
Pulling MLN's ActiveAddress
MLN data successfully pulled

Start Pulling MTA's data:
Pulling MTA's Price
Pulling MTA's MarketCap
Pulling MTA's TransactionCount
Pulling MTA's ActiveAddress
MTA data successfully pulled

Start Pulling MTL's data:
Pulling MTL's Price
Pulling MTL's MarketCap
Pulling MTL's TransactionCount
Pulling MTL's ActiveAddress
MTL data successfully pulled

Start Pulling MX's data:
Pulling MX's Price
Pulling MX's MarketCap
Pulling MX's TransactionCount
Pulling MX's ActiveAddress
MX data successfully pulled

Start Pulling NDX's data:
Pulling NDX's Price
Pulling NDX's MarketCap
Pulling NDX's TransactionCount
Pulling NDX's ActiveAddress
NDX data successfully pulled

Start Pulling NEXO's data:
Pulling NEXO's Price
Pulling NEXO's MarketCap
Pulling NEXO's TransactionCount
Pulling NEXO's ActiveAddress
NEXO data successfully pulled

Start Pulling NFTX's data:
Pulling NFTX's Price
Pulling NFTX's MarketCap
Pulling NFTX's TransactionCount
Pulling NFTX's ActiveAddress
NFTX data successfully pulled

Start Pulling NMR's data:
Pulling NMR's Price
Pulling NMR's MarketCap
Pulling NMR's TransactionCount
Pulling NMR's ActiveAddress
NMR data successfully pulled

Start Pulling OCEAN's data:
Pulling OCEAN's Price
Pulling OCEAN's MarketCap
Pulling OCEAN's TransactionCount
Pulling OCEAN's ActiveAddress
OCEAN data successfully pulled

Start Pulling OKB's data:
Pulling OKB's Price
Pulling OKB's MarketCap
Pulling OKB's TransactionCount
Pulling OKB's ActiveAddress
OKB data successfully pulled

Start Pulling OMG's data:
Pulling OMG's Price
Pulling OMG's MarketCap
Pulling OMG's TransactionCount
Pulling OMG's ActiveAddress
OMG data successfully pulled

Start Pulling PAY's data:
Pulling PAY's Price
Pulling PAY's MarketCap
Pulling PAY's TransactionCount
Pulling PAY's ActiveAddress
PAY data successfully pulled

Start Pulling PERP's data:
Pulling PERP's Price
Pulling PERP's MarketCap
Pulling PERP's TransactionCount
Pulling PERP's ActiveAddress
PERP data successfully pulled

Start Pulling PICKLE's data:
Pulling PICKLE's Price
Pulling PICKLE's MarketCap
Pulling PICKLE's TransactionCount
Pulling PICKLE's ActiveAddress
PICKLE data successfully pulled

Start Pulling PNK's data:
Pulling PNK's Price
Pulling PNK's MarketCap
Pulling PNK's TransactionCount
Pulling PNK's ActiveAddress
PNK data successfully pulled

Start Pulling PNT's data:
Pulling PNT's Price
Pulling PNT's MarketCap
Pulling PNT's TransactionCount
Pulling PNT's ActiveAddress
PNT data successfully pulled

Start Pulling POLY's data:
Pulling POLY's Price
Pulling POLY's MarketCap
Pulling POLY's TransactionCount
Pulling POLY's ActiveAddress
POLY data successfully pulled

Start Pulling POWR's data:
Pulling POWR's Price
Pulling POWR's MarketCap
Pulling POWR's TransactionCount
Pulling POWR's ActiveAddress
POWR data successfully pulled

Start Pulling PPT's data:
Pulling PPT's Price
Pulling PPT's MarketCap
Pulling PPT's TransactionCount
Pulling PPT's ActiveAddress
PPT data successfully pulled

Start Pulling QASH's data:
Pulling QASH's Price
Pulling QASH's MarketCap
Pulling QASH's TransactionCount
Pulling QASH's ActiveAddress
QASH data successfully pulled

Start Pulling QKC's data:
Pulling QKC's Price
Pulling QKC's MarketCap
Pulling QKC's TransactionCount
Pulling QKC's ActiveAddress
QKC data successfully pulled

Start Pulling QNT's data:
Pulling QNT's Price
Pulling QNT's MarketCap
Pulling QNT's TransactionCount
Pulling QNT's ActiveAddress
QNT data successfully pulled

Start Pulling RDN's data:
Pulling RDN's Price
Pulling RDN's MarketCap
Pulling RDN's TransactionCount
Pulling RDN's ActiveAddress
RDN data successfully pulled

Start Pulling REN's data:
Pulling REN's Price
Pulling REN's MarketCap
Pulling REN's TransactionCount
Pulling REN's ActiveAddress
REN data successfully pulled

Start Pulling REP's data:
Pulling REP's Price
Pulling REP's MarketCap
Pulling REP's TransactionCount
Pulling REP's ActiveAddress
REP data successfully pulled

Start Pulling RLC's data:
Pulling RLC's Price
Pulling RLC's MarketCap
Pulling RLC's TransactionCount
Pulling RLC's ActiveAddress
RLC data successfully pulled

Start Pulling ROOK's data:
Pulling ROOK's Price
Pulling ROOK's MarketCap
Pulling ROOK's TransactionCount
Pulling ROOK's ActiveAddress
ROOK data successfully pulled

Start Pulling RPL's data:
Pulling RPL's Price
Pulling RPL's MarketCap
Pulling RPL's TransactionCount
Pulling RPL's ActiveAddress
RPL data successfully pulled

Start Pulling RSR's data:
Pulling RSR's Price
Pulling RSR's MarketCap
Pulling RSR's TransactionCount
Pulling RSR's ActiveAddress
RSR data successfully pulled

Start Pulling SAI's data:
Pulling SAI's Price
Pulling SAI's MarketCap
Pulling SAI's TransactionCount
Pulling SAI's ActiveAddress
SAI data successfully pulled

Start Pulling SAN's data:
Pulling SAN's Price
Pulling SAN's MarketCap
Pulling SAN's TransactionCount
Pulling SAN's ActiveAddress
SAN data successfully pulled

Start Pulling SNT's data:
Pulling SNT's Price
Pulling SNT's MarketCap
Pulling SNT's TransactionCount
Pulling SNT's ActiveAddress
SNT data successfully pulled

Start Pulling SNX's data:
Pulling SNX's Price
Pulling SNX's MarketCap
Pulling SNX's TransactionCount
Pulling SNX's ActiveAddress
SNX data successfully pulled

Start Pulling STAKE's data:
Pulling STAKE's Price
Pulling STAKE's MarketCap
Pulling STAKE's TransactionCount
Pulling STAKE's ActiveAddress
STAKE data successfully pulled

Start Pulling STORJ's data:
Pulling STORJ's Price
Pulling STORJ's MarketCap
Pulling STORJ's TransactionCount
Pulling STORJ's ActiveAddress
STORJ data successfully pulled

Start Pulling sUSD's data:
Pulling sUSD's Price
Pulling sUSD's MarketCap
Pulling sUSD's TransactionCount
Pulling sUSD's ActiveAddress
sUSD data successfully pulled

Start Pulling SUSHI's data:
Pulling SUSHI's Price
Pulling SUSHI's MarketCap
Pulling SUSHI's TransactionCount
Pulling SUSHI's ActiveAddress
SUSHI data successfully pulled

Start Pulling TEL's data:
Pulling TEL's Price
Pulling TEL's MarketCap
Pulling TEL's TransactionCount
Pulling TEL's ActiveAddress
TEL data successfully pulled

Start Pulling TOP's data:
Pulling TOP's Price
Pulling TOP's MarketCap
Pulling TOP's TransactionCount
Pulling TOP's ActiveAddress
TOP data successfully pulled

Start Pulling UBT's data:
Pulling UBT's Price
Pulling UBT's MarketCap
Pulling UBT's TransactionCount
Pulling UBT's ActiveAddress
UBT data successfully pulled

Start Pulling UMA's data:
Pulling UMA's Price
Pulling UMA's MarketCap
Pulling UMA's TransactionCount
Pulling UMA's ActiveAddress
UMA data successfully pulled

Start Pulling UNI's data:
Pulling UNI's Price
Pulling UNI's MarketCap
Pulling UNI's TransactionCount
Pulling UNI's ActiveAddress
UNI data successfully pulled

Start Pulling USDC's data:
Pulling USDC's Price
Pulling USDC's MarketCap
Pulling USDC's TransactionCount
Pulling USDC's ActiveAddress
USDC data successfully pulled

Start Pulling USDK's data:
Pulling USDK's Price
Pulling USDK's MarketCap
Pulling USDK's TransactionCount
Pulling USDK's ActiveAddress
USDK data successfully pulled

Start Pulling USDP's data:
Pulling USDP's Price
Pulling USDP's MarketCap
Pulling USDP's TransactionCount
Pulling USDP's ActiveAddress
USDP data successfully pulled

Start Pulling USDT's data:
Pulling USDT's Price
Pulling USDT's MarketCap
Pulling USDT's TransactionCount
Pulling USDT's ActiveAddress
USDT data successfully pulled

Start Pulling UTK's data:
Pulling UTK's Price
Pulling UTK's MarketCap
Pulling UTK's TransactionCount
Pulling UTK's ActiveAddress
UTK data successfully pulled

Start Pulling VERI's data:
Pulling VERI's Price
Pulling VERI's MarketCap
Pulling VERI's TransactionCount
Pulling VERI's ActiveAddress
VERI data successfully pulled

Start Pulling WaBi's data:
Pulling WaBi's Price
Pulling WaBi's MarketCap
Pulling WaBi's TransactionCount
Pulling WaBi's ActiveAddress
WaBi data successfully pulled

Start Pulling WAX's data:
Pulling WAX's Price
Pulling WAX's MarketCap
Pulling WAX's TransactionCount
Pulling WAX's ActiveAddress
WAX data successfully pulled

Start Pulling WBTC's data:
Pulling WBTC's Price
Pulling WBTC's MarketCap
Pulling WBTC's TransactionCount
Pulling WBTC's ActiveAddress
WBTC data successfully pulled

Start Pulling wNXM's data:
Pulling wNXM's Price
Pulling wNXM's MarketCap
Pulling wNXM's TransactionCount
Pulling wNXM's ActiveAddress
wNXM data successfully pulled

Start Pulling WTC's data:
Pulling WTC's Price
Pulling WTC's MarketCap
Pulling WTC's TransactionCount
Pulling WTC's ActiveAddress
WTC data successfully pulled

Start Pulling YAM's data:
Pulling YAM's Price
Pulling YAM's MarketCap
Pulling YAM's TransactionCount
Pulling YAM's ActiveAddress
YAM data successfully pulled

Start Pulling YFI's data:
Pulling YFI's Price
Pulling YFI's MarketCap
Pulling YFI's TransactionCount
Pulling YFI's ActiveAddress
YFI data successfully pulled

Start Pulling ZRX's data:
Pulling ZRX's Price
Pulling ZRX's MarketCap
Pulling ZRX's TransactionCount
Pulling ZRX's ActiveAddress
ZRX data successfully pulled


All Frames Merged

ALL DATA SUCCESSFULLY PULLED!

In [119]:
# Add Return to largeCapSample_raw

largeCapSample = AddReturn(largeCapSample_raw)
largeCapSample

,Date,Price,MarketCap,TransactionCount,ActiveAddress,Asset,RiskFree,Return
0,2021-04-26,483.109487,6.033093e+09,0.0,4294.0,AAVE,0.02,0.393008
1,2021-05-03,459.310213,5.735887e+09,0.0,9738.0,AAVE,0.02,-0.049263
2,2021-05-10,525.296787,6.648981e+09,0.0,10036.0,AAVE,0.02,0.143665
3,2021-05-17,296.307038,3.779533e+09,0.0,12152.0,AAVE,0.00,-0.435925
4,2021-05-24,324.282384,4.141262e+09,0.0,11055.0,AAVE,0.01,0.094413
...,...,...,...,...,...,...,...,...
6235,2022-03-21,31.941824,5.356529e+07,0.0,184.0,wNXM,0.22,0.112223
6236,2022-03-28,34.426101,5.773133e+07,0.0,90.0,wNXM,0.19,0.077775
6237,2022-04-04,33.251072,5.576085e+07,0.0,195.0,wNXM,0.18,-0.034132
6238,2022-04-11,27.854533,4.671105e+07,0.0,255.0,wNXM,0.22,-0.162297
6239,2022-04-18,28.499363,4.779241e+07,0.0,191.0,wNXM,0.38,0.023150

### Reshape Dataframe

In [120]:
# Get Return DataFrame

returnAll = largeCapSample.loc[:,['Date', 'Return', 'Asset']].pivot(index="Date", columns=["Asset"], values='Return').reset_index().rename_axis(None, axis=1).sort_values('Date')
returnAll

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-04-26,0.393008,0.148764,-0.073592,0.219156,0.028645,0.450839,0.282477,0.307409,0.229047,...,-0.047122,NaN,0.149613,0.326124,0.541436,0.153995,0.214523,0.394776,-0.003986,0.191180
1,2021-05-03,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
2,2021-05-10,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
3,2021-05-17,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
4,2021-05-24,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871
5,2021-05-31,0.126079,-0.039411,0.076882,0.345243,-0.040499,0.302944,0.054685,0.090265,0.082609,...,0.046409,NaN,0.005559,-0.025069,0.090076,0.100535,0.028074,0.128756,0.000937,0.052810
6,2021-06-07,-0.133376,-0.041374,0.027304,-0.209913,-0.215166,-0.145077,-0.180341,-0.136070,-0.151720,...,0.746187,NaN,0.082746,-0.060055,-0.093995,-0.044256,-0.105978,-0.156050,0.000112,-0.179796
7,2021-06-14,-0.135142,-0.054374,-0.010388,-0.064211,-0.148949,-0.075485,-0.184541,-0.109692,-0.071613,...,-0.325650,NaN,-0.080900,-0.050993,0.062245,0.145024,-0.061840,-0.112552,-0.002604,-0.074501
8,2021-06-21,-0.260413,-0.225371,-0.034417,-0.151840,-0.203397,-0.335214,-0.156782,-0.170017,-0.097705,...,0.064259,NaN,-0.029888,-0.286174,-0.298918,-0.294125,-0.165332,-0.196463,0.011801,-0.105652
9,2021-06-28,0.368870,0.343686,0.262778,0.076755,-0.047041,0.195057,0.537898,0.209763,0.117593,...,0.024084,NaN,0.020096,0.217856,0.039831,0.033109,0.108094,0.134017,-0.009815,0.134316
10,2021-07-05,0.098566,-0.110754,-0.058238,0.010310,-0.086016,-0.056861,-0.126518,0.077777,-0.070029,...,-0.317150,NaN,-0.029185,-0.090187,-0.069403,-0.025103,0.010891,0.100258,0.003454,-0.017146
11,2021-07-12,-0.160290,-0.201010,-0.062514,-0.084789,-0.164503,-0.134274,-0.169859,-0.255939,-0.069578,...,-0.205346,NaN,-0.072307,-0.113701,-0.101246,-0.170582,-0.169582,-0.212261,-0.004349,-0.165654
12,2021-07-19,0.127105,0.019641,1.140932,0.051423,0.094209,0.176807,0.043631,0.083011,0.034482,...,0.350925,NaN,0.107175,0.097111,0.072633,-0.076794,0.067871,0.050565,0.001577,0.075106
13,2021-07-26,0.106077,0.127120,-0.491863,0.057835,0.093666,0.179617,0.132274,0.148383,0.224783,...,0.108367,NaN,0.138453,0.057140,0.093543,0.000611,0.065474,0.195362,0.000960,0.085435
14,2021-08-02,0.133521,0.138247,0.004374,0.119133,0.156885,1.121510,0.114708,0.116805,0.018814,...,-0.140306,NaN,0.094332,0.157452,0.107413,0.229191,0.027769,0.187971,-0.006081,0.106099
15,2021-08-09,0.136398,0.899372,-0.009807,0.169230,-0.042283,0.150166,0.172527,0.185099,0.204305,...,0.083024,NaN,0.075501,0.409346,0.345266,0.203942,0.215637,0.137263,-0.003216,0.111328
16,2021-08-16,-0.021719,-0.027595,-0.120825,0.043145,0.222231,-0.081012,0.065186,0.204174,0.065437,...,0.115701,NaN,0.046517,0.099086,0.023020,0.000502,-0.007849,0.058313,0.004720,0.023198
17,2021-08-23,-0.088535,-0.062171,0.049724,-0.063904,-0.204005,-0.045216,-0.104745,-0.069041,-0.059468,...,-0.142095,NaN,-0.008410,-0.036785,0.001271,-0.011270,-0.049146,-0.021273,-0.004793,-0.033077
18,2021-08-30,0.140085,0.110479,-0.003253,0.387316,-0.097214,0.068398,0.245467,0.152626,0.202179,...,0.295297,NaN,0.055567,0.089636,0.206661,0.014028,0.140474,0.188285,0.001104,0.163611
19,2021-09-06,-0.200397,-0.193904,0.009416,-0.123837,-0.206745,-0.239336,-0.202130,-0.119543,-0.177907,...,0.002161,NaN,-0.108020,-0.113569,-0.284434,-0.168121,-0.223569,-0.189267,0.001927,-0.161145
20,2021-09-13,0.019018,0.002897,-0.023904,-0.009018,-0.182758,0.088103,-0.075450,-0.046612,-0.082582,...,0.109473,NaN,0.024847,0.237104,-0.048932,-0.093210,-0.009100,0.002868,-0.000842,0.052186
21,2021-09-20,-0.137500,-0.204451,0.003752,-0.239595,0.094073,-0.203695,-0.162469,-0.171657,-0.135929,...,0.330860,NaN,-0.083808,-0.282353,-0.077917,-0.336188,-0.077727,-0.159167,0.010363,-0.166686
22,2021-09-27,0.060515,0.038358,0.283428,0.091104,-0.089630,0.161307,0.096729,0.146020,0.143303,...,-0.383907,NaN,0.114102,0.116623,0.053564,0.189254,0.031072,0.121639,-0.011784,-0.027490
23,2021-10-04,-0.072406,0.066064,-0.062146,-0.066249,-0.073042,0.421778,-0.088848,-0.081674,-0.011696,...,-0.036505,NaN,0.136969,0.040187,0.107842,0.009480,0.040037,0.039022,0.002924,-0.011018
24,2021-10-11,0.058984,-0.009932,-0.030519,0.047726,-0.051653,0.005631,0.089425,0.082203,-0.040168,...,0.021470,NaN,0.123638,0.028232,-0.060516,0.047788,0.064983,-0.047430,0.000657,-0.076750
25,2021-10-18,0.006676,0.143793,0.788043,-0.062829,0.307773,-0.013127,-0.048195,0.034141,-0.005289,...,0.339581,NaN,-0.010592,-0.004209,0.078131,0.101221,-0.006936,0.001984,-0.000175,0.103712
26,2021-10-25,0.022765,0.056602,-0.024410,0.034441,0.095966,-0.050789,0.148331,0.137200,0.432313,...,0.239281,NaN,0.008468,-0.014157,-0.061099,0.107237,-0.011162,0.184273,-0.006904,-0.133493
27,2021-11-01,0.018269,0.115013,-0.085128,0.056121,0.038150,0.269061,0.059958,-0.062316,0.012291,...,-0.191440,NaN,0.029722,0.039296,-0.038217,0.642842,0.038430,0.031994,0.035975,0.372890
28,2021-11-08,-0.013979,-0.096041,-0.485937,0.098084,-0.026094,0.022784,-0.070189,-0.054474,0.148130,...,0.209427,NaN,0.018915,-0.044254,0.072387,-0.368189,-0.054903,0.047296,0.018356,0.312564
29,2021-11-15,-0.156916,0.046630,-0.089577,-0.054413,-0.189574,-0.195154,-0.132705,-0.130679,-0.062114,...,-0.033973,NaN,-0.091164,0.015474,-0.032457,-0.101736,-0.054854,-0.116640,-0.039538,-0.067175
30,2021-11-22,-0.104104,-0.025791,0.429563,0.140779,-0.002450,-0.032590,-0.021620,0.062235,0.521465,...,-0.319200,NaN,-0.044571,0.003872,0.293676,-0.112724,-0.053308,0.045066,0.002333,-0.145191
31,2021-11-29,-0.198722,-0.154260,-0.192535,-0.335701,-0.422313,-0.408957,-0.238389,-0.306477,-0.288269,...,-0.034308,NaN,-0.126625,-0.094333,-0.242109,-0.219455,-0.210910,-0.293147,-0.010928,-0.139248
32,2021-12-06,-0.057036,-0.016493,0.002478,0.149598,0.003688,0.013172,-0.031147,-0.040500,0.033420,...,4.616726,NaN,0.015739,0.201143,-0.064614,-0.273601,-0.079533,0.012501,-0.001714,-0.165826
33,2021-12-13,0.018833,0.079332,-0.045086,0.252950,-0.067895,-0.031176,0.152162,-0.044581,-0.050975,...,-0.224177,NaN,-0.059235,-0.087641,0.042907,-0.073870,0.466039,-0.080497,-0.000242,0.312822
34,2021-12-20,0.463257,-0.072844,0.048575,0.743789,-0.126124,0.151047,0.035514,0.139020,0.169140,...,1.068609,NaN,0.085520,0.087974,0.042485,0.568812,-0.022041,0.137687,0.004606,0.026799
35,2021-12-27,-0.009888,-0.025513,-0.048580,0.330661,-0.133917,-0.105881,0.080995,-0.100086,-0.027017,...,-0.107588,NaN,-0.066321,-0.091820,-0.043369,-0.107648,0.253466,0.011472,-0.002692,-0.034254
36,2022-01-03,-0.209387,-0.194519,-0.187057,-0.372008,-0.129532,-0.206964,-0.051167,0.008137,-0.204218,...,-0.045324,NaN,-0.112806,-0.237225,-0.189970,-0.220535,-0.164984,-0.183942,0.000814,-0.217290
37,2022-01-10,0.150836,0.281614,0.422035,-0.013836,-0.037359,0.180525,-0.066305,0.071979,0.021418,...,-0.285556,NaN,0.027690,0.004691,0.009142,0.028893,0.030047,0.056006,0.002430,0.082815
38,2022-01-17,-0.346984,0.087258,-0.153482,-0.417798,-0.256876,-0.256023,-0.308192,-0.372694,-0.283105,...,-0.095738,NaN,-0.159773,-0.322163,-0.259227,-0.123232,-0.255633,-0.291548,-0.000683,-0.280240
39,2022-01-24,-0.057313,0.163541,0.076716,0.467540,0.044819,0.019431,0.008209,-0.034929,0.102441,...,-0.065587,NaN,0.046969,0.000120,0.027103,-0.094897,-0.047426,0.018341,0.001035,-0.151401
40,2022-01-31,0.163056,-0.043458,0.183287,0.158359,0.130459,0.065851,0.204760,0.145078,0.129379,...,-0.094957,NaN,0.111920,0.107586,0.163186,0.279854,0.032137,0.190720,0.000500,0.030872
41,2022-02-07,-0.083712,-0.073089,-0.167456,-0.272749,-0.072588,-0.062448,-0.058343,0.030219,-0.142408,...,-0.122821,NaN,-0.000222,-0.029366,-0.011118,-0.139005,-0.067101,-0.070952,-0.002731,-0.108960
42,2022-02-14,-0.132496,-0.044051,-0.019030,-0.158308,-0.365061,-0.194550,-0.089034,0.079938,-0.126591,...,-0.123319,NaN,-0.088444,-0.114357,-0.141957,-0.167294,-0.095560,-0.064365,-0.002162,-0.117422
43,2022-02-21,-0.044061,-0.226714,0.041890,-0.009779,-0.156973,-0.101275,-0.073569,-0.214747,-0.052602,...,-0.235336,NaN,-0.020752,-0.135378,-0.103713,-0.137732,-0.064519,-0.088767,-0.000755,0.009447
44,2022-02-28,-0.111623,-0.049899,-0.036169,-0.051147,-0.112253,-0.064758,-0.039347,0.078036,-0.043385,...,0.256512,NaN,0.018506,-0.002004,-0.075659,0.001721,-0.062138,-0.080136,0.001558,-0.087702
45,2022-03-07,-0.008350,-0.050096,0.021682,-0.069921,-0.011404,-0.080740,-0.052853,-0.113468,0.054628,...,-0.263321,NaN,-0.013841,-0.038603,-0.172716,-0.036644,-0.010197,-0.010855,0.000201,-0.030742
46,2022-03-14,0.313923,0.021279,0.128621,0.088104,0.338948,0.136350,0.111796,0.087379,0.215996,...,0.688167,NaN,0.088652,0.155870,0.149697,0.067380,0.105221,0.159266,-0.003560,0.137464
47,2022-03-21,0.107949,0.086414,0.058932,0.198973,0.519558,0.622892,0.188726,0.265803,0.102234,...,-0.152976,NaN,0.134572,0.155009,0.230889,0.180514,0.115208,0.319245,0.003350,0.112223
48,2022-03-28,0.437923,0.022216,-0.054472,0.063506,0.184376,-0.040351,0.156682,0.189886,0.046700,...,0.061676,NaN,-0.005221,0.072453,0.099797,0.018065,0.133097,0.254326,0.002601,0.077775
49,2022-04-04,-0.264748,-0.076450,0.019980,-0.222887,-0.118711,-0.159381,0.060292,-0.263378,-0.211052,...,-0.250357,NaN,-0.091150,-0.119842,-0.099201,-0.141089,-0.197513,-0.171324,-0.004978,-0.034132
50,2022-04-11,-0.061670,0.195216,-0.005664,-0.089618,-0.141436,-0.142879,-0.156324,-0.103066,-0.030664,...,-0.182784,NaN,-0.060917,-0.128957,-0.137774,-0.058160,-0.073668,-0.089801,-0.006177,-0.162297
51,2022-04-18,-0.006382,-0.044165,0.111631,0.001392,-0.179992,-0.014160,0.009671,0.010256,0.000996,...,0.136801,NaN,-0.005138,-0.023239,-0.128661,-0.049938,-0.022687,0.177569,0.004155,0.023150

### Calculate Momentum Matrix(return 1-week.)

In [121]:
# Need to be Changed into 2-week Cumulative Return

momMatrix = returnAll.copy()
momMatrix['Date'] = momMatrix['Date'].shift(-1)
momMatrix = momMatrix.drop(momMatrix.tail(1).index)
momMatrix.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-05-03,0.393008,0.148764,-0.073592,0.219156,0.028645,0.450839,0.282477,0.307409,0.229047,...,-0.047122,NaN,0.149613,0.326124,0.541436,0.153995,0.214523,0.394776,-0.003986,0.191180
1,2021-05-10,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
2,2021-05-17,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
3,2021-05-24,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
4,2021-05-31,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871

### Calculate MOM Percentile(30%, 70%)

In [122]:
# Only elect Assets(BTC, ETH...) columns
col = []
for colName in momMatrix.columns:
     if colName not in ['Date','MOM30p','MOM70p']:
         col.append(colName)
momMatrix[col].head()

,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,BIX,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,0.393008,0.148764,-0.073592,0.219156,0.028645,0.450839,0.282477,0.307409,0.229047,0.596650,...,-0.047122,NaN,0.149613,0.326124,0.541436,0.153995,0.214523,0.394776,-0.003986,0.191180
1,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,-0.168886,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
2,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,-0.131835,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
3,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,-0.509419,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
4,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,0.010949,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871

In [123]:
# 30% pencentile
momMatrix[col].quantile(.3, axis=1).head()

0    0.154039
1   -0.020051
2   -0.211393
3   -0.517193
4    0.070218
Name: 0.3, dtype: float64

In [124]:
momMatrix['MOM30p']=momMatrix[col].quantile(.3, axis=1)
momMatrix['MOM70p']=momMatrix[col].quantile(.7, axis=1)
momMatrix.tail()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM,MOM30p,MOM70p
46,2022-03-21,0.313923,0.021279,0.128621,0.088104,0.338948,0.136350,0.111796,0.087379,0.215996,...,0.088652,0.155870,0.149697,0.067380,0.105221,0.159266,-0.003560,0.137464,0.055774,0.135960
47,2022-03-28,0.107949,0.086414,0.058932,0.198973,0.519558,0.622892,0.188726,0.265803,0.102234,...,0.134572,0.155009,0.230889,0.180514,0.115208,0.319245,0.003350,0.112223,0.086211,0.190274
48,2022-04-04,0.437923,0.022216,-0.054472,0.063506,0.184376,-0.040351,0.156682,0.189886,0.046700,...,-0.005221,0.072453,0.099797,0.018065,0.133097,0.254326,0.002601,0.077775,0.009694,0.098713
49,2022-04-11,-0.264748,-0.076450,0.019980,-0.222887,-0.118711,-0.159381,0.060292,-0.263378,-0.211052,...,-0.091150,-0.119842,-0.099201,-0.141089,-0.197513,-0.171324,-0.004978,-0.034132,-0.171571,-0.084241
50,2022-04-18,-0.061670,0.195216,-0.005664,-0.089618,-0.141436,-0.142879,-0.156324,-0.103066,-0.030664,...,-0.060917,-0.128957,-0.137774,-0.058160,-0.073668,-0.089801,-0.006177,-0.162297,-0.103619,-0.034644

In [125]:
# reshape for later use
momPt = momMatrix[['MOM30p','MOM70p']]
momMatrix = momMatrix.drop(['MOM30p','MOM70p'], axis=1)

### Calculate Momentum portfolio returns

In [126]:
# delete the first 1 row of returnAll to match the momMatrix date
returnAll = returnAll.drop(returnAll.head(1).index).reset_index().drop('index', axis=1)
returnAll.head()

,Date,AAVE,ABT,AMPL,ANT,ARMOR,BADGER,BAL,BAND,BAT,...,VERI,WAX,WBTC,WTC,WaBi,YAM,YFI,ZRX,sUSD,wNXM
0,2021-05-03,-0.049263,0.022970,0.112456,0.069679,0.080898,-0.024938,0.079109,0.001570,0.126182,...,0.406858,NaN,0.032826,0.141704,0.070760,-0.145964,0.102180,0.046813,0.010270,0.348608
1,2021-05-10,0.143665,-0.171471,-0.281857,-0.244447,-0.323333,-0.256346,-0.182583,-0.204940,-0.194722,...,0.062182,NaN,-0.204564,-0.164128,-0.319218,0.064864,0.234226,-0.195655,-0.007335,-0.150428
2,2021-05-17,-0.435925,-0.482439,-0.357192,-0.560776,-0.456955,-0.597872,-0.523110,-0.514725,-0.504094,...,-0.447383,NaN,-0.245743,-0.593304,-0.551696,-0.382593,-0.499353,-0.486727,-0.019204,-0.410748
3,2021-05-24,0.094413,0.379361,0.464830,0.228098,0.103387,0.117416,0.069808,0.085198,0.244939,...,0.188722,NaN,0.019047,0.204790,0.212288,-0.279703,0.272157,0.161636,0.005509,0.241871
4,2021-05-31,0.126079,-0.039411,0.076882,0.345243,-0.040499,0.302944,0.054685,0.090265,0.082609,...,0.046409,NaN,0.005559,-0.025069,0.090076,0.100535,0.028074,0.128756,0.000937,0.052810

In [127]:
# initialize df for low, medium and high MOM
lowMom = pd.DataFrame(columns = ['Date', 'LowMomentum'])
lowMom['Date'] = momMatrix['Date']

medMom = pd.DataFrame(columns = ['Date', 'MediumMomentum'])
medMom['Date'] = momMatrix['Date']

highMom = pd.DataFrame(columns = ['Date', 'HighMomentum'])
highMom['Date'] = momMatrix['Date']

In [128]:
# iterate through whole dataframe to get low, medium and high MOM
lowList = []
medList = []
highList = []
for i in range(0, momMatrix.shape[0]):
    for j in range(1, momMatrix.shape[1]):
        if momMatrix.iloc[i,j] < momPt.iloc[i,0]:
            lowList.append(returnAll.iloc[i,j])
        elif (momPt.iloc[i,0] < momMatrix.iloc[i,j]) and (momMatrix.iloc[i,j] < momPt.iloc[i,1]):
            medList.append(returnAll.iloc[i,j])
        elif momMatrix.iloc[i,j] > momPt.iloc[i,1]:
            highList.append(returnAll.iloc[i,j])
    lowMom.iloc[i,1] = sum(lowList) / len(lowList)
    medMom.iloc[i,1] = sum(medList) / len(medList)
    highMom.iloc[i,1] = sum(highList) / len(highList)

In [129]:
from functools import reduce
momLMH = reduce(lambda  left,right: pd.merge(left,right, on='Date', how='outer'), [lowMom, medMom, highMom])
momLMH.head()

        Date LowMomentum MediumMomentum HighMomentum
0 2021-05-03    0.028317       0.084243     0.167024
1 2021-05-10   -0.051756      -0.020802     0.021574
2 2021-05-17    -0.19436        -0.1585    -0.089848
3 2021-05-24   -0.084516      -0.072168    -0.054362
4 2021-05-31   -0.055801      -0.036919    -0.023456

### Calculate Momentum Factor

In [130]:
momFactor = pd.DataFrame(columns = ['Date', 'MOM_LTW'])
momFactor['Date'] = momMatrix['Date']
momFactor['MOM_LTW'] = momLMH['HighMomentum'] - momLMH['LowMomentum']

In [131]:
momFactor.head(20)

         Date   MOM_LTW
0  2021-05-03  0.138707
1  2021-05-10   0.07333
2  2021-05-17  0.104512
3  2021-05-24  0.030154
4  2021-05-31  0.032345
5  2021-06-07  0.018745
6  2021-06-14  0.018277
7  2021-06-21  0.019533
8  2021-06-28 -0.000888
9  2021-07-05 -0.001338
10 2021-07-12 -0.005568
11 2021-07-19 -0.009613
12 2021-07-26 -0.009612
13 2021-08-02 -0.006168
14 2021-08-09  0.001224
15 2021-08-16  0.005785
16 2021-08-23  0.000662
17 2021-08-30 -0.000127
18 2021-09-06 -0.000545
19 2021-09-13  0.002212