## Fixed Data:

In [10]:
import json
import requests
import pandas as pd

API_KEY = '1vGb0FOsg2hEIGrEhpueLCcWd1Y'

rootUrl = 'https://api.glassnode.com'

symbolList = ['BTC', 'ETH', 'LTC', 'AAVE', 'ABT', 'AMPL', 'ANT', 'ARMOR', 'BADGER', 'BAL', 'BAND', 'BAT', 'BIX', 'BNT', 'BOND', 'BRD', 'BUSD', 'BZRX', 'CELR', 'CHSB', 'CND', 'COMP', 'CREAM', 'CRO', 'CRV', 'CVC', 'CVP', 'DAI', 'DDX', 'DENT', 'DGX', 'DHT', 'DMG', 'DODO', 'DOUGH', 'DRGN', 'ELF', 'ENG', 'ENJ', 'EURS', 'FET', 'FTT', 'FUN', 'GNO', 'GUSD', 'HEGIC', 'HOT', 'HPT', 'HT', 'HUSD', 'INDEX', 'KCS', 'LAMB', 'LBA', 'LDO', 'LEO', 'LINK', 'LOOM', 'LRC', 'MANA', 'MATIC',
              'MCB', 'MCO', 'MFT', 'MIR', 'MKR', 'MLN', 'MTA', 'MTL', 'MX', 'NDX', 'NEXO', 'NFTX', 'NMR', 'Nsure', 'OCEAN', 'OKB', 'OMG', 'PAY', 'PERP', 'PICKLE', 'PNK', 'PNT', 'POLY', 'POWR', 'PPT', 'QASH', 'QKC', 'QNT', 'RDN', 'REN', 'REP', 'RLC', 'ROOK', 'RPL', 'RSR', 'SAI', 'SAN', 'SNT', 'SNX', 'STAKE', 'STORJ', 'sUSD', 'SUSHI', 'TEL', 'TOP', 'UBT', 'UMA', 'UNI', 'USDC', 'USDK', 'USDP', 'USDT', 'UTK', 'VERI', 'WaBi', 'WAX', 'WBTC', 'WETH', 'wNXM', 'WTC', 'YAM', 'YFI', 'ZRX']

symbolListShort = ['BTC', 'ETH', 'LTC']

endPoints = {
    'Price': '/v1/metrics/market/price_usd_close',
    'MarketCap': '/v1/metrics/market/marketcap_usd',
    'TransactionCount': '/v1/metrics/transactions/count',
    'ActiveAddress': '/v1/metrics/addresses/active_count',
}

## Get Multiple Attributes for Multiple Coins:

In [11]:
### Define a function to pull data according to input values(coin, feature)
### After running this method, it should return pulled data, and also store it in memory named as "coin_feature"

def PullData(coin, feature):
    print(f"Pulling {coin}'s {feature} data")

    # Assemble full request url and get responses:
    reqUrl = rootUrl + endPoints[feature]
    res = requests.get(reqUrl,
                       params={'a': coin, 'api_key': API_KEY})
    data_raw = pd.read_json(res.text, convert_dates=['t'])

    # Rename column "v" according to features
    data = data_raw.rename(columns={"v" : f"{feature}", 't':'Date'})

    # Turn renamed dataframe into a global variable for future using
    name = f"{coin}_{feature}"
    globals()[name] = data

    # Return a dataframe
    return data

In [17]:

df = PullData("BTC", 'Price')

Pulling BTC's Price data

           Date         Price
0    2010-07-17      0.049510
1    2010-07-18      0.085840
2    2010-07-19      0.080800
3    2010-07-20      0.074733
4    2010-07-21      0.079210
...         ...           ...
4290 2022-04-15  40546.284623
4291 2022-04-16  40424.483293
4292 2022-04-17  39722.815414
4293 2022-04-18  40830.991984
4294 2022-04-19  41363.421741

[4295 rows x 2 columns]

In [12]:
### Get all features(listed in endPoints) of all coins(listed in symbolListShort) 

from functools import reduce

for i in symbolListShort:
    print(f"Start Pulling {i}'s data:")

    # Preparation for merging
    frameName = f"{i}_Frames"
    locals()[frameName] = []

    # Get data
    for j in list(endPoints.keys()):
        locals()[frameName].append(PullData(i, j))

    # Merge to single dataframe
    dfName = f"{i}_All"
    locals()[dfName] = reduce(lambda  left,right: pd.merge(left,right, on='Date', how='inner'), locals()[frameName])

    print(f"{i} data successfully pulled\n")
print('\nALL DATA SUCCESSFULLY PULLED!')

Start Pulling BTC's data:
Pulling BTC's Price data
Pulling BTC's MarketCap data
Pulling BTC's TransactionCount data
Pulling BTC's ActiveAddress data
BTC data successfully pulled

Start Pulling ETH's data:
Pulling ETH's Price data
Pulling ETH's MarketCap data
Pulling ETH's TransactionCount data
Pulling ETH's ActiveAddress data
ETH data successfully pulled

Start Pulling LTC's data:
Pulling LTC's Price data
Pulling LTC's MarketCap data
Pulling LTC's TransactionCount data
Pulling LTC's ActiveAddress data
LTC data successfully pulled


ALL DATA SUCCESSFULLY PULLED!

In [14]:
LTC_All

           Date       Price     MarketCap  TransactionCount  ActiveAddress
0    2013-05-19    3.149100  5.601635e+07              5590          11200
1    2013-05-20         NaN  5.610263e+07              6375          12574
2    2013-05-21         NaN  5.618734e+07              6248          12086
3    2013-05-22    3.060000  5.468296e+07              5319          10606
4    2013-05-23    3.050000  5.459866e+07              5939          11720
...         ...         ...           ...               ...            ...
3252 2022-04-14  107.430865  7.527953e+09            113646         302368
3253 2022-04-15  111.103397  7.786069e+09            121456         309623
3254 2022-04-16  114.430712  8.020100e+09            109324         283888
3255 2022-04-17  109.018201  7.641529e+09            103601         284622
3256 2022-04-18  111.231135  7.797417e+09            110081         289475

[3257 rows x 5 columns]

In [64]:
def PullData(coin, feature):
    print(f"Pulling {coin}'s {feature} data")

    # Assemble full request url and get responses:
    reqUrl = rootUrl + endPoints[feature]
    res = requests.get(reqUrl,
                       params={'a': coin, 'api_key': API_KEY})
    data_raw = pd.read_json(res.text, convert_dates=['t'])

    # Rename column "v" according to features
    data = data_raw.rename(columns={"v" : f"{feature}", 't':'Date'})

    # Turn renamed dataframe into a global variable for future using
   # data['Asset'] = coin

    # Return a dataframe
    return data

In [44]:
df = pd.DataFrame(columns = endPoints.keys())
df['Asset'] = ''

In [45]:
df

Empty DataFrame
Columns: [Price, MarketCap, TransactionCount, ActiveAddress, Asset]
Index: []

In [48]:
df

Empty DataFrame
Columns: [Price, MarketCap, TransactionCount, ActiveAddress, Asset]
Index: []

In [ ]:
df.append

In [49]:
for j in list(endPoints.keys()):
    pd.merge(df,PullData('LTC', j), on='Date', how='outer')

Pulling LTC's Price data

KeyError: 'Date'

In [68]:
df1 =PullData('LTC', 'Price')

Pulling LTC's Price data

In [75]:
df1.shape

(3258, 2)

In [77]:
df1.head()

        Date   Price
0 2013-05-19  3.1491
1 2013-05-20     NaN
2 2013-05-21     NaN
3 2013-05-22  3.0600
4 2013-05-23  3.0500

In [78]:
df3=df1.merge(df1,on = 'Date', how = 'outer')

In [80]:
df3.shape

(3258, 3)

In [81]:
df3.head()

        Date  Price_x  Price_y
0 2013-05-19   3.1491   3.1491
1 2013-05-20      NaN      NaN
2 2013-05-21      NaN      NaN
3 2013-05-22   3.0600   3.0600
4 2013-05-23   3.0500   3.0500

In [72]:
df4=pd.DataFrame()

In [84]:
df1 =PullData('LTC', 'Price')
for j in list(endPoints.keys()):
    if j != 'Price':
        df1 = df1.merge(PullData('LTC', j),on = 'Date', how = 'outer')
        
df1['Asset'] = 'LTC'

Pulling LTC's Price data
Pulling LTC's MarketCap data
Pulling LTC's TransactionCount data
Pulling LTC's ActiveAddress data

In [85]:
df1

           Date   Price     MarketCap  TransactionCount  ActiveAddress
0    2013-05-19  3.1491  5.601635e+07            5590.0        11200.0
1    2013-05-20     NaN  5.610263e+07            6375.0        12574.0
2    2013-05-21     NaN  5.618734e+07            6248.0        12086.0
3    2013-05-22  3.0600  5.468296e+07            5319.0        10606.0
4    2013-05-23  3.0500  5.459866e+07            5939.0        11720.0
...         ...     ...           ...               ...            ...
3837 2013-05-14     NaN           NaN            7218.0        13589.0
3838 2013-05-15     NaN           NaN            6500.0        12598.0
3839 2013-05-16     NaN           NaN            7434.0        13944.0
3840 2013-05-17     NaN           NaN            6638.0        12459.0
3841 2013-05-18     NaN           NaN            5660.0        11167.0

[3842 rows x 5 columns]

In [86]:
### Get all features(listed in endPoints) of all coins(listed in symbolListShort) 


### test
df = pd.DataFrame(columns = endPoints.keys())
df['Asset'] = ''

for i in symbolListShort:
    print(f"Start Pulling {i}'s data:")

    # Get data
    
    df1 =PullData(i, 'Price')
    for j in list(endPoints.keys()):
        if j != 'Price':
            df1 = df1.merge(PullData(i, j),on = 'Date', how = 'outer')
    df1['Asset'] = i
    df=df.append(df1, ignore_index=True)

    print(f"{i} data successfully pulled\n")
print('\nALL DATA SUCCESSFULLY PULLED!')

Start Pulling BTC's data:
Pulling BTC's Price data
Pulling BTC's MarketCap data
Pulling BTC's TransactionCount data
Pulling BTC's ActiveAddress data
BTC data successfully pulled

Start Pulling ETH's data:
Pulling ETH's Price data
Pulling ETH's MarketCap data
Pulling ETH's TransactionCount data
Pulling ETH's ActiveAddress data
ETH data successfully pulled

Start Pulling LTC's data:
Pulling LTC's Price data
Pulling LTC's MarketCap data
Pulling LTC's TransactionCount data
Pulling LTC's ActiveAddress data
LTC data successfully pulled


ALL DATA SUCCESSFULLY PULLED!

In [94]:
## Make some test

df.loc[df['Asset'] == 'LTC']

        Price     MarketCap  TransactionCount  ActiveAddress Asset       Date
7311   3.1491  5.601635e+07            5590.0        11200.0   LTC 2013-05-19
7312      NaN  5.610263e+07            6375.0        12574.0   LTC 2013-05-20
7313      NaN  5.618734e+07            6248.0        12086.0   LTC 2013-05-21
7314   3.0600  5.468296e+07            5319.0        10606.0   LTC 2013-05-22
7315   3.0500  5.459866e+07            5939.0        11720.0   LTC 2013-05-23
...       ...           ...               ...            ...   ...        ...
11148     NaN           NaN            7218.0        13589.0   LTC 2013-05-14
11149     NaN           NaN            6500.0        12598.0   LTC 2013-05-15
11150     NaN           NaN            7434.0        13944.0   LTC 2013-05-16
11151     NaN           NaN            6638.0        12459.0   LTC 2013-05-17
11152     NaN           NaN            5660.0        11167.0   LTC 2013-05-18

[3842 rows x 6 columns]